<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<style>
    a
    {
    color: %av_color_hyperlink%;
    }
    body
    {
    margin: 0px;
    padding: 0;
    border: 0px solid InactiveBorder;
    background-color: %av_color_background%;
    color: %av_color_text%;
    font: %av_font_size%pt %av_font_name%, MS Shell Dlg;
    font-weight: %av_font_weight%;
    }
  </style>
</head>
<body>
%av_msg%
</body>
</html>