		body
		{
			background-color: #3C3C3C;
			color: #D5AF1C; 
			/*
			This is the font specified by the loaded skin.  All children will derive 
			from this.  To set any children font sizes use EM to be consistent with 
			this font size.
			*/
			font-family: %font_name%;
			font-size: %font_size%px;
		}

		.box
		{
			background-color: #262626;
			border: #3C3C3C;
		}
		.box.box_title
		{
			text-align: left;
			padding-top: 2px;
			padding-bottom: 2px;
			background-color: #000000;
			color: #CCCCCC; 
			border-bottom: 1px solid #CCA918;
		}
		.box.box_details
		{
			padding: 6px;
		}
