<script language="JavaScript">
<!--
	%include scripts/colorize.js%
	%include scripts/linkify.js%

	function drawTeam(teamstruct)
	{
		document.write('<table border=0><tr><td><div class="teambox">');
		if (teamstruct["team_name"] == "")
		{
			document.write('<div class="teamname">%text_playerlist%</div>');
		}
		else
		{
			document.write('<div class="teamname">' + teamstruct["team_name"] + '</div>');
		}
		document.write('<div class="playerlist"><table class="playertable"><tr><th style="text-align:left">%js:text_name%</th><th style="text-align:right">%js:text_ping%</th><th style="text-align:right">%js:text_frags%</th></tr>');
		var nfrags = 0;
		for(var p in teamstruct["players"])
		{
			document.write('<tr><td style="text-align:left">' + colorizeName(teamstruct["players"][p]["name"], "COD") + '</td><td style="text-align:right">' + teamstruct["players"][p]["ping"] + '</td><td style="text-align:right">' + teamstruct["players"][p]["frags"] + '</td></tr>');
			nfrags += teamstruct["players"][p]["frags"];
		}
		if (teamstruct["team_name"] != "")
		{
			document.write('<tr><td colspan=2 style="text-align:left">%js:text_totalfrags%</td><td style="text-align:right">' + nfrags + '</td></tr>');
		}
		document.write('</table></div></div></td></tr></table>');
	}


	var game_icon_file_name		= "%game_iconfilename%";
	var game_has_password		= %game_haspassword%;
	var game_lock_icon_file_name = "%game_lockiconfilename%";
	var game_long_name			= "%js:game_longname%";
	var voice_has_ip			= %voice_hasip%;
	var text_voice_chat			= "%js:text_voicechat%";
	var voice_server_ip			= "%js:voice_serverip%";
	var game_has_ip				= %game_hasip%;
	var server_flag_url			= "%js:server_flag_url%";
	var country_code			= "%js:country_code%";
	var country_code_url		= "%js:country_code_url%";
	var text_server_ip			= "%js:text_serverip%";
	var game_server_ip			= "%js:game_serverip%";
	var game_has_query_status	= %game_hasquerystatus%;
	var text_server_query_status = "%js:text_serverquerystatus%";
	var game_server_query_status = "%js:game_serverquerystatus%";
	var game_has_server_name	= %game_hasservername%;
	var text_server_name		= "%js:text_servername%";
	var game_server_name		= "%js:game_servername%";
	var game_has_server_ping	= %game_hasserverping%;
	var text_server_ping		= "%js:text_serverping%";
	var game_server_ping		= "%js:game_serverping%";
	var game_has_server_info	= %game_hasserverinfo%;
	var text_server_info		= "%js:text_serverinfo%";
	var game_server_info		= "%js:game_serverinfo%";
	var game_has_server_game_type = %game_hasservergametype%;
	var text_server_game_type	= "%js:text_servergametype%";
	var game_server_game_type	= "%js:game_servergametype%";
	var text_player_list		= "%text_playerlist%"; 
	var team_list = [ %team_data_struct% ];
	var raw_serverinfo = { %raw_serverinfo% };
	var is_user_ingame			= %user_ingame%;
	var display_user			= "%js:display_user%";
	var user_has_profile		= %user_hasprofile%;
	var profile_url				= "%js:profile_url%";
	var username				= "%js:username%";
	var text_profile			= "%js:text_profile%";
	var user_has_nickname		= %user_hasnickname%;
	var text_user_name			= "%js:text_username%";
	var name_col				= "%js:text_name%";
	var ping_col				= "%js:text_ping%";
	var frags_col				= "%js:text_frags%";
	var total_frags_text			= "%js:text_totalfrags%";
	var has_custom_status		= %has_custom_status%;
	var custom_status			= "%js:custom_status%";
	var custom_status_text		= "%js:text_status%";
  	var can_launch_rcon			= %can_launch_rcon%;
  	var rcon_password_text		= "%js:rcon_password_text%";
  	var rcon_password			= "%js:rcon_password%";

	if (is_user_ingame == true)
	{
		document.write("<span class='user_title'>" + display_user + 
						"</span> <span class='user_profile_link'><a href='" + profile_url + username + "' target='_blank'>" + text_profile + 
						"</a></span><br><br>");
		
		if (user_has_nickname == true)
		{
			document.write("<span class='field_name'>" + text_user_name + ": </span>");
			document.write("<span class='user_data'>" + username + "<br></span>");
		}

		if (has_custom_status == true)
		{
			document.write("<span class='field_name'>" + custom_status_text + ": </span>");
			document.write("<span class='user_data'>" + linkify(custom_status) + "<br></span>");
		}

		if (voice_has_ip == true)
  		{
  			document.write("<span class='field_name'>" + text_voice_chat + ": </span>");
  			document.write("<span class='user_data'>" + voice_server_ip + "<br></span>");
  		}
	}
				
	if (game_has_ip == true)
	{
		document.write("<span class='field_name'>" + text_server_ip + ": </span>");
		if (server_flag_url.length > 0)
		{
			document.write("<span class='server_data'> <a href='" + country_code_url + "' target='_blank'><img src='" + server_flag_url + "' title='" + country_code + "' alt='' width='25' height='15' align='absbottom' border='0'></a> " + game_server_ip);
		}
		else
		{
			document.write("<span class='server_data'>" + game_server_ip);
		}
		
		if (game_has_password == true)
		{
			document.write("        <img src='" + game_lock_icon_file_name + "' title='' alt='gameicon' width='32' height='32' border='0'>");
		}
		document.write("<br></span>");
	}


	if (game_has_query_status == true)
	{
		document.write("<span class='field_name'>" + text_server_query_status + ": </span>");
		document.write("<span class='server_data'>" + game_server_query_status + "<br></span>");
	}

	if (game_has_server_name == true)
	{
		document.write("<span class='field_name'>" + text_server_name + ": </span>");
		document.write("<span class='server_data'>");
		if (raw_serverinfo.website)
		{
			document.write('<a href="');
			if (raw_serverinfo.website.indexOf('http://') < 0)
			{
				document.write('http://');
			}
			document.write(raw_serverinfo.website + '" target="_blank">');
		}
		document.write(colorizeName(raw_serverinfo.sv_hostname, "COD"));
		if (raw_serverinfo.website)
		{
			document.write("</a>");
		}
		document.write("<br></span>");
	}

	if (game_has_server_ping == true)
	{
		document.write("<span class='field_name'>" + text_server_ping + ": </span>");
		document.write("<span class='server_data'>" + game_server_ping + "<br></span>");
	}

	if (game_has_server_info == true)
	{
		document.write("<span class='field_name'>" + text_server_info + ": </span>");
		document.write("<span class='server_data'>" + game_server_info + "<br></span>");
	}

	if (game_has_server_game_type == true)
	{
		document.write("<span class='field_name'>" + text_server_game_type + ": </span>");
		document.write("<span class='server_data'>" + game_server_game_type + "<br></span>");
	}
	//document.write("<br>\n");
	
	if (team_list.length > 0)
	{
		for (var i = 0; i < team_list.length; i++)
		{
			drawTeam(team_list[i]);
			document.write("<br>");
		}
	}

	if (can_launch_rcon == true)
	{
		document.write("<div id='rcon_password_div'>");
		document.write("<span class='field_name'>" + rcon_password_text + "&nbsp;</span>");
		document.write("<input class='text' type='password' name='rcon_password' id='rcon_password' value='" + rcon_password + "' size='15'/>");
		document.write("</div>");
	}

	if (game_has_ip == true)
	{
		if ( raw_serverinfo['sv_pure'] == 1 )
		{
			document.write( "<span class='field_name'>" + "%js:text_pure%" + "</span><br>" );
		}
	
		if ( raw_serverinfo['sv_punkbuster'] == 1 )
		{
			document.write( "<span class='field_name'>" + "%js:text_punkbuster%" + "</span><br>" );
		}
		
		if( raw_serverinfo['scr_friendlyfire'] == 1 )
		{
			document.write( "<span class='field_name'>" + "%js:text_friendly_fire%" + "</span><br>" );
		}
		
		if( raw_serverinfo['scr_killcam'] == 1 )
		{
			document.write( "<span class='field_name'>" + "%js:text_killcam%" + "</span><br>" );
		}
		
		if( raw_serverinfo['sv_allowanonymous'] == 1 )
		{
			document.write( "<span class='field_name'>" + "%js:text_allow_anonymous%" + "</span><br>" );
		}
		
		if( raw_serverinfo['pswrd'] != 0 )
		{
			document.write( "<span class='field_name'>" + "%js:text_password_protected%" + "</span><br>" );
		}
	}
//-->
</script>
