<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script language="JavaScript">
		%include scripts/shared.js%
		%include scripts/linkify.js%
		%include scripts/user.js%	
	</script>
	<style>
		.main_page 
		{ 
			margin:0px; 
			color:rgb(0, 0, 0); 
			background-color:rgb(23,50,106);
			/*
			This is the font specified by the loaded skin.  All children will derive 
			from this.  To set any children font sizes use EM to be consistent with 
			this font size.
			*/
			font-family: %font_name%;
			font-size: %font_size%px;
		}
		.table_toprow 
		{ 
			height: 11px; 
		}
		.table_bottomrow 
		{ 
			height: 11px; 
		}
		.table_image_topmiddle 
		{
			height: 11px; 
			background: url("%media_template_folder%infoview/ut2k4/infoview_ut2004_top_middle.gif") repeat-x; 
		}
		.table_image_leftedge 
		{ 
			width: 11px; 
			background: url("%media_template_folder%infoview/ut2k4/infoview_ut2004_left_middle.gif") repeat-y; 
		}
		.table_image_rightedge 
		{ 
			width: 11px; 
			background: url("%media_template_folder%infoview/ut2k4/infoview_ut2004_right_middle.gif") repeat-y; 
		}
		.table_image_bottomleft 
		{ 
			width: 11px; 
			height: 11px; 
			background: url("%media_template_folder%infoview/ut2k4/infoview_ut2004_bot_left.gif") no-repeat; 
		}
		.table_image_bottommiddle 
		{ 
			height: 11px; 
			background: url("%media_template_folder%infoview/ut2k4/infoview_ut2004_bot_middle.gif") repeat-x; 
		}
		.table_image_bottomright 
		{ 
			width: 11px; 
			height: 11px; 
			background: url("%media_template_folder%infoview/ut2k4/infoview_ut2004_bot_right.gif") no-repeat; 
		}
		.table_image_middlebackground 
		{ 
			vertical-align: top; 
			background: url("%media_template_folder%infoview/ut2k4/infoview_ut2004_middle.gif") repeat; 
		}
		.game_logo 
		{ 
			/* border: 1px solid #ffffff; */
			width: 100%; 
			height: 102px;
			background: url("%media_template_folder%infoview/ut2k4/infoview_ut2004_logo.gif") no-repeat;
			background-position: top center;
		}
		.game_figures 
		{
			/* border: 1px solid #ffffff; */
			margin: 5px;
			width: 100%;
			height: 406px;
			padding: 5px; 
			background: url("%media_template_folder%infoview/ut2k4/infoview_ut2004_figures.gif") no-repeat;
			background-position: top center;
		}
		.user_title 
		{ 
			text-align: left; 
			color:rgb(232,232,232); 
			font-weight:bold; 
			/* font-size:%font_size_big%pt; */
			line-height:100% 
		}
		a:link
		{ 
			color:rgb(232,232,232);
		}
		a:visited
		{ 
			color:rgb(192,192,192);
		}
		.field_name 
		{ 
			text-align: left; 
			color:rgb(232,232,232); 
			font-weight:bold; 
			font-size: 0.75em;
			line-height:150% 
		}
		.user_data 
		{ 
			nowrap: nowrap;
			text-align: left; 
			color:rgb(253,205,1); 
			font-weight:bold; 
			font-size: 0.75em;
			line-height:100% 
		}
		.server_data 
		{ 
			text-align: left; 
			color:rgb(253,205,1); 
			font-weight:bold; 
			font-size: 0.75em;
			line-height:100% 
		}
		.table_header 
		{  
			background-color:#214385; 
			color:rgb(253,205,1); 
			font-weight:bold; 
			font-size: 0.75em;
		}
		.table_col_title 
		{ 
			vertical-align:top; 
			text-decoration:underline; 
			color:rgb(232,232,232); 
			font-weight:bold; 
			font-size: 0.7em;
			line-height:200% 
		}
		.table_data 
		{ 
			vertical-align:top; 
			text-align:left; 
			color:rgb(232,232,232); 
			font-size: 0.7em;
			line-height:150% 
		}
		.table_totals 
		{ 
			color:rgb(253,205,1); 
			font-weight:bold; 
			font-size: 0.75em;
			line-height:200% 
		}
		.table_totals_data 
		{ 
			vertical-align:top; 
			text-align:right; 
			color:rgb(232,232,232); 
			font-weight:bold; 
			font-size: 0.7em;
			line-height:200% 
		}
		.javascript_data
		{
			text-align: left; 
		}
		td 
		{ 
			/* no word wrapping on table data */
		}
		
		/* PLAYER TABLE STYLES */
		/* GOOD LUCK TRYING TO FIGURE THIS OUT!!! */
		.playertable_header_topleft
		{
			width: 5px;
			height: 5px;
			background: url("%media_template_folder%infoview/ut2k4/infoview_ut2004_box_top_left.gif") no-repeat; 
		}
		.playertable_header_horzedge
		{
			height: 1px;
			background-color: #5174A8;
		}
		.playertable_header_topright
		{
			width: 1px;
			height: 1px;
			background-color: #5174A8;
		}
		.playertable_header_horzfiller
		{
			height: 4px;
			background-color: #214385;
		}
		.playertable_header_vertedge_4tall
		{
			width: 1px;
			height: 4px;
			background-color: #5174A8;
		}
		.playertable_header_vertedge
		{
			width: 1px;
			background-color: #5174A8;
		}
		.playertable_header_vertfiller
		{
			width: 4px;
			background-color: #214385;
		}
		.playertable_header_vertedge_5tall
		{
			width: 1px;
			height: 5px;
			background-color: #5174A8;
		}
	</style>
</head>

<body class='main_page'>
<table id='main_table' width='100%' height='100%' border='0' cellpadding='0' cellspacing='0'>
	<tr class='table_toprow'>
		<td class='table_image_topleft'><img src="%media_template_folder%infoview/ut2k4/infoview_ut2004_top_left.gif"></td>
		<td class='table_image_topmiddle'></td>
		<td class='table_image_topright'><img src="%media_template_folder%infoview/ut2k4/infoview_ut2004_top_right.gif"></td>
	</tr>
	<tr>
		<td class='table_image_leftedge'></td>
		<td class='table_image_middlebackground'>
			<div class="game_logo">&nbsp;</div>
			<div class="game_figures">
				<span class='javascript_data'>
					%include ut2k4\game_ut2k4_js.tmpl%
				</span>
				&nbsp;
			</div>

      <div id='user_broadcast_box' class='box'>
        <div class='box_title'>
          <table width='100%' border='0' cellpadding='5' cellspacing='0'>
            <tr>
              <td class='user_title'>%text_live_video%</td>
              <td class='user_title' align='right'>
                <a href=' ' href_type='broadcast_options'>%broadcast_bindings%</a>
              </td>
            </tr>
          </table>
        </div>
        <div class='box_details' style='padding:5px'>
          <div id='user_broadcast_id'></div>
        </div>
      </div>
			
		</td>
		<td class='table_image_rightedge'></td>
	</tr>
	<tr class='bottomrow'>
		<td class='table_image_bottomleft'></td>
		<td class='table_image_bottommiddle'></td>
		<td class='table_image_bottomright'></td>
	</tr>
</table>

	<script language="JavaScript">
	<!--
		render_user_broadcast();
	//-->
	</script>
</body>

</html>
