<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script language="JavaScript">
		%include scripts/shared.js%
		%include scripts/linkify.js%
		%include scripts/user.js%	
	</script>
	<style>
		.main_page 
		{ 
			margin:0px; 
			color:rgb(0, 0, 0);
			background-color:rgb(76,74,47);
		}
		.table_image_topmiddle 
		{
			background: url("%media_template_folder%infoview/codmp/infoview_cod_top_middle.gif") repeat-x;
			height: 1%;
		}
		.table_image_leftedge 
		{ 
			width: 9px;
			height: 50px;
			background: url("%media_template_folder%infoview/codmp/infoview_cod_middle_left.gif") repeat-y;
		}
		.table_image_rightedge 
		{ 
			width: 9px;
			height: 50px;
			background: url("%media_template_folder%infoview/codmp/infoview_cod_middle_right.gif") repeat-y; 
		}
		.table_image_bottommiddle 
		{ 
			background: url("%media_template_folder%infoview/codmp/infoview_cod_bottom_middle.gif") repeat-x; 
			height: 1%;
		}
		.table_image_middlebackground 
		{ 
			vertical-align: top; 
			background: url("%media_template_folder%infoview/codmp/infoview_cod_middle.gif") repeat; 
		}
		.game_logo 
		{ 
			/* border: 1px solid #ffffff; */
			width: 100%; 
			height: 57px;
			margin-top: 15px;
			background: url("%media_template_folder%infoview/coduomp/infoview_coduo_logo.gif") no-repeat;
			background-position: top center;
		}
		.game_figures
		{
			/* border: 1px solid #ffffff; */
			margin: 0px;
			width: 100%;
			height: 379px;
			padding: 0px; 
			margin: 5px 15px;
			background-position: top center;
		}
		.game_figures0
		{
			/* border: 1px solid #ffffff; */
			margin: 0px;
			width: 100%;
			height: 379px;
			padding: 0px; 
			margin: 5px 15px;
			background: url("%media_template_folder%infoview/codmp/infoview_cod_soldier.gif") no-repeat;
			background-position: top center;
		}
		.game_figures1 
		{
			/* border: 1px solid #ffffff; */
			margin: 0px;
			width: 100%;
			height: 379px;
			padding: 0px; 
			margin: 5px 15px;
			background: url("%media_template_folder%infoview/codmp/infoview_cod_soldier2.gif") no-repeat;
			background-position: top center;
		}
		.user_title 
		{ 
			text-align: left; 
			color:rgb(232,232,232); 
			font-weight:bold; 
			font-size:%font_size_big%pt; 
			line-height:100% 
		}
		a:link
		{ 
			font-size:%font_size%pt; 
			color:rgb(232,232,232);
		}
		a:visited
		{ 
			font-size:%font_size%pt; 
			color:rgb(192,192,192);
		}
		.field_name 
		{ 
			text-align: left; 
			color:rgb(232,232,232); 
			font-weight:bold; 
			font-size:1.0em; 
			line-height:120%
		}
		.user_data 
		{ 
			nowrap: nowrap;
			text-align: left; 
			color:rgb(232,232,232); 
			font-weight:bold; 
			font-size:1.0em; 
			line-height:100% 
		}
		.server_data 
		{ 
			text-align: left; 
			color:rgb(208,205,163); 
			font-weight:bold; 
			font-size:1.0em; 
			line-height:100% 
		}
		.server_data a:link
		{ 
			color:rgb(208,205,163);
		}
		.server_data a:visited
		{ 
			color:rgb(192,192,192);
		}
		.javascript_data
		{
			text-align: left;
		}
		td 
		{ 
			/* no word wrapping on table data */
			white-space:nowrap; 
		}
		
		/* Styling for the team list */
		.teambox
		{
			border: 1px solid #FFFFFF;
			color: #FFFFFF;
			margin-top: 10px;
		}
		.teamname
		{
			background: transparent;
			color:rgb(192,192,192); 
			font-weight:bold; 
			font-size:0.8em; 
			padding:0.2em;
		}
		.playerlist
		{
			border-top: 1px solid #FFFFFF;
			font-family: %font_name%;
			font-size: 12px;
			line-height: 15px;
			color: #FFFFFF;
		}
		.playertable th
		{
			vertical-align:top; 
			text-decoration:underline; 
			color:rgb(232,232,232); 
			font-weight:bold; 
			font-size:0.8em; 
			line-height:200% 
		}
		.playertable td
		{
			vertical-align:top; 
			text-align:left; 
			color:rgb(232,232,232); 
			font-size:0.8em;
			line-height:120% 
		}
	</style>
</head>

<body class='main_page'>
<table id='main_table' width='100%' height='100%' border='0' cellpadding='0' cellspacing='0'>
	<tr class='table_toprow'>
		<td class='table_image_topleft'><img src="%media_template_folder%infoview/codmp/infoview_cod_top_left.gif"></td>
		<td class='table_image_topmiddle'></td>
		<td class='table_image_topright'><img src="%media_template_folder%infoview/codmp/infoview_cod_top_right.gif"></td>
	</tr>
	<tr>
		<td class='table_image_leftedge'>&nbsp;</td>
		<td class='table_image_middlebackground'>
			<div class="game_logo"></div>
			<div id="soldier" class="game_figures">
				<span class='javascript_data'>
					%include coduomp\game_coduomp_js.tmpl%
				</span>
				&nbsp;
			</div>

      <div id='user_broadcast_box' class='box'>
        <div class='box_title'>
          <table width='100%' border='0' cellspacing='10'>
            <tr>
              <td class='field_name'>%text_live_video%</td>
              <td class='field_name' align='right'>
                <a href=' ' href_type='broadcast_options'>%broadcast_bindings%</a>
              </td>
            </tr>
          </table>
        </div>
        <div class='box_details' style='padding:10px'>
          <div id='user_broadcast_id'></div>
        </div>
      </div>
		</td>
		<td class='table_image_rightedge'></td>
	</tr>
	<tr class='bottomrow'>
		<td class='table_image_bottomleft'><img src="%media_template_folder%infoview/codmp/infoview_cod_bottom_left.gif"></td>
		<td class='table_image_bottommiddle'></td>
		<td class='table_image_bottomright'><img src="%media_template_folder%infoview/codmp/infoview_cod_bottom_right.gif"></td></td>
	</tr>
</table>

<script>
	render_user_broadcast();
	if (0 == Math.round(Math.random()*1))
	{
		document.getElementById("soldier").className = "game_figures0";
	}
	else
	{
		document.getElementById("soldier").className = "game_figures1";
	}
</script>

</body>

</html>
