<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style>
    %include styles/shared.css%
    %include download_styles.tmpl%
  </style>
	<script language="JavaScript">
	<!--
%include scripts/AjaxRequest.js%
	//-->
	</script>
</head>
<body>
<table id='main_table' width='100%' height='100%' border='0' cellpadding='0' cellspacing='0'><tr><td>
<div id='wrap'>
  %include download_header.tmpl%

  <div class='box'>
    <div class='box_title'>%channel_title%</div>
    <div class='box_details'>
      <div id='middle'></div>
  </div>
  
</div>	
  
<script language="JavaScript">
<!--
	var middle_div = document.getElementById('middle');

	function requestChannelInfo()
	{
		middle_div.innerHTML = "";
		AjaxRequest.get(
			{
				'url':"%scripting_host%/v4/client/filesinfo.php?type=channel&id=%selected_channel_id%",
				'timeout':10000,
				'onSuccess':
					function (req)
					{
						var rows = req.responseXML.getElementsByTagName('row');
						fillOutDiv(rows, middle_div);
						var newEvt = document.createEventObject();
						var bRet = document.getElementById('request_finished_id').fireEvent("ondataavailable", newEvt);

					},
				'onError':
					function (req)
					{
						middle_div.innerHTML = "%text_error_fetch%, <b style='cursor:pointer;text-decoration:underline' onclick='requestChannelInfo();'>%text_error_retry%</b>";
					},
				'onTimeout':
					function (req)
					{
						middle_div.innerHTML = "%text_error_timeout%, <b style='cursor:pointer;text-decoration:underline' onclick='requestChannelInfo();'>%text_error_retry%</b>";
					}
			}
		);
	}

	if (%selected_channel_id% == 0)
	{
		// This means it's a special channel, just set the description
		middle_div.innerHTML = "<p id='channel_description_id'>%channel_description%</p>";
	}
	else
	{
		// else try to request the info
		requestChannelInfo();
	}

	function fillOutDiv(row, div)
	{
		outStr = "";
		if (row == null || row.length < 1)
		{
			var strDesc = "%channel_description%";
			outStr = "<p id='channel_description_id'>" + strDesc + "</p>";
		}
		else
		{
			description = row[0].getElementsByTagName("description");
			if (description.length > 0)
			{
				outStr = "<p>" + description[0].firstChild.nodeValue + "</p>";
			}
			else
			{
				var strDesc = "%channel_description%";
				outStr = "<p id='channel_description_id'>" + strDesc + "</p>";
			}
		}
		div.innerHTML = outStr;
	}
//-->
</script>
<!-- NEED AN ELEMENT TO FIRE AN EVENT ON -->
<span id="request_finished_id"></span>
</td></tr></table>
</body>
</html>
