<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style>
		%include styles/shared.css%
		table
		{
			width: 100%;
		}
		th
		{
			text-align: left;
			text-decoration: underline;
		}
	</style>
	
</head>

<body>
<table id='main_table' cellpadding='0' cellspacing='0' border='0' width='100%'><tr><td><!-- needed for scrollbar determination -->
<div id='wrap'>

	<div id='clan_room_id' class='box'>
		<div class='box_title'>%chatroom_title%</div>
		<div class='box_details'>
			<table>
				<tr>
					<th>%text_name%</th>
					<th>%permissions_text%</th>
				</tr>
				<script language="JavaScript">
				<!--
					var vRoomMembers = [%chatroom_members%];
					if (vRoomMembers.length)
					{
						for (var i = 0; i < vRoomMembers.length; i++)
						{
							document.write("<tr>");
							document.write("<td>" + vRoomMembers[i].name + "</td><td>" + vRoomMembers[i].permissions + "</td>");
							document.write("</tr>");
						}
					}
				//-->
				</script>
			</table>
		</div>
	</div>
	
	<!-- NEED AN ELEMENT TO FIRE AN EVENT ON -->
	<span id="fire_event_id"></span>

</div>
</td></tr></table>
</body>
</html>
