<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style>
    %include styles/shared.css%
		%include download_styles.tmpl%
		.featured_image
		{
			float: left;
			margin-top: 1em;
			margin-right: 1em;
			margin-bottom: 1em;
		}
		.detail_title
		{
			font-weight: bold;
			text-decoration: underline;
		}
		.data_block
		{
			display: inline-block;
		}
		.below_featured_image
		{
			clear: both;
		}
		a:link, a:visited, a:hover, a:active
		{
			color: rgb(%color_hyperlink%);
			font-weight: bold; 
			font-size: %font_size_small%px; 
			font-family: %font_name%; 
			font-style: %font_buddystyle%;
			text-decoration: underline;
		}
		.screenshots
		{
			margin: 1em;
		}
	</style>
	
	<script language="JavaScript">
	<!--
		%include scripts/AjaxRequest.js%
		%include scripts/download.js%
	//-->
	</script>
	
</head>
<body>
<table id='main_table' width='100%' height='100%' border='0' cellpadding='0' cellspacing='0'><tr><td>
<div id='wrap'>
	%include download_header.tmpl%

  <div class='box'>
    <div class='box_title'>%dl_title%</div>
    <div class='box_details'>
      <!-- IF THERE'S A FEATURED IMAGE FOR THIS FILE WE WILL SET UP TO FLOAT ON LEFT SIDE -->
      <div id='image_holder' class='featured_image' style='display:none'></div>
      <div class='data_block'>
        <div class='detail_title'>%text_totalsize%</div>
        <div>%display_totalsize%</div>
      </div>
      <br>

      <!-- ONLY DISPLAY CURRENT SIZE IF THE DOWNLOAD IS NOT DONE YET -->
      <div class='data_block'>
        <div id='%download_notdone_id%' style='display:%download_notdone%'>
	        <div class='detail_title'>%text_currentsize%</div>
	        <div id='display_currentsize_id'>%display_currentsize%</div>
	        <br>
        </div>
      </div>
	
      <div class='data_block'>
        <div style='display:%download_hasknownfiletype%'>
	        <div class='detail_title'>%text_dltype%</div>
	        <div>%display_filetype%</div>
	        <br>
        </div>
      </div>

      <!-- ONLY DISPLAY ETA IF THE FILE IS DOWNLOADING SOMETHING -->
      <div class='data_block'>
        <div id='download_downloading_id' style='display:%download_downloading%'>
	        <div class='detail_title'>%text_eta%</div>
	        <div id='display_eta_id'>%display_eta%</div>
	        <br>
        </div>
      </div>

      <div class='data_block'>
        <div class='detail_title'>%text_status%</div>
        <div id='display_state_id'>%displaystate%</div>
      </div>
      <br>

      <!-- CAUSES THE REST OF DATA TO GO BELOW THE FLOATED FILE IMAGE -->
      <div class='below_featured_image'></div>

      <!-- SHOW EXTRA BLURB ABOUT PRELOAD FILES -->
      <div id='download_ispreload_id' style='display:%download_ispreload%'>
        <div class='detail_title'>%text_preload%</div>
        <div>%display_preload%</div>
        <br>
      </div>

      <!-- DISPLAYS LINK FOR THE FILE ONCE IT COMPLETES DOWNLOADING -->					
      <div id='download_done_id' style='display:%download_done%'>
      </div>

      <!-- IF WE'RE GETTING METADATA, THEN LET THEM KNOW -->
      <div id='download_retrievingmetadata_id' style='display:%download_retrievingmetadata%'>
        <div class='detail_title'>%text_completedmetabytes%</div>
        <div id='display_completedmetabytes_id'>%display_completedmetabytes%</div>
        <br>
        <div class='detail_title'>%text_totalmetabytes%</div>
        <div id='display_totalmetabytes_id'>%display_totalmetabytes%</div>
        <br>
      </div>

      <!-- IF DOWNLOADING, SHOW NUMBER OF SOURCES AND DOWNLOAD RATE -->
      <div id='download_started_id' style='display:%download_started%'>
        <div class='detail_title'>%text_downloadsources%</div>
        <div id='display_downloadsources_id'>%display_downloadsources%</div>
        <br>
        <div class='detail_title'>%text_downloadrate%</div>
        <div id='display_downloadrate_id'>%display_downloadrate%</div>
        <br>
      </div>

      <!-- IF UPLOADING, SHOW UPLOAD RATE -->
      <div id='download_uploading_id' style='display:%download_uploading%'>
        <div class='detail_title'>%text_uploadrate%</div>
        <div id='display_uploadrate_id'>%display_uploadrate%</div>
        <br>
      </div>

      <!-- SHOW CHANNEL THIS FILE BELONGS TO -->
      <div id='download_haschannels_id' style='display:%download_haschannels%'>
        <div class='detail_title'>%text_channels%</div>
        <div id='display_filechannels_id'>%display_filechannels%</div>
        <br>
      </div>

      <!-- START TIME -->
      <div id='download_hasstarttime_id' style='display:%download_hasstarttime%'>
        <div class='detail_title'>%text_timestarted%</div>
        <div id='display_timestarted_id'>%display_timestarted%</div>
        <br>
      </div>

      <!-- END TIME -->
      <div id='download_hasendtime_id' style='display:%download_hasendtime%'>
        <div class='detail_title'>%text_timeended%</div>
        <div id='display_timeended_id'>%display_timeended%</div>
        <br>
      </div>
        
      <div id='bottom'></div>

    </div>
  </div>

	<!-- NEED AN ELEMENT TO FIRE AN EVENT ON -->
	<span id="request_finished_id"></span>
	
</div>

<script language="JavaScript">
<!--
	var done = document.getElementById('download_done_id');
	var bHasFileAttributeFlag = %has_file_attribute_flag%;
	if (bHasFileAttributeFlag == false)
	{
		var strFileName = "%js:displayfilename%";
		done.innerHTML = "<div><span class='fakelink' action='open_file_dir'>" + strFileName + "</span></div><br>";
	}
	
	if (!%is_personal_file_transfer%)
		requestData();
		
//-->
</script>
	
</td></tr></table>
</body>
</html>
