      <script language="JavaScript">
      <!--
			//var text_color = [ %color_text% ];
			//var back_color = [ %color_background% ];
			//var div_back = [ Math.floor((text_color[0]-back_color[0])*0.1+back_color[0]), Math.floor((text_color[1]-back_color[1])*0.1+back_color[1]), Math.floor((text_color[2]-back_color[2])*0.1+back_color[2]) ]
			if (%is_pac_enabled%)
			{
				document.write( "%js:pac_enabled_text%" );
			}
			else
			{
				document.write( "%js:pac_disabled_text%" );
			}
      document.write("<br>");
			%include scripts/games_list.js%
			//-->
      </script>
