<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style>
		%include styles/filter.css%
		/* NOTE: Style overrides are included in bottom of styles/filter.css. */
	</style>
	
	<script language="JavaScript">
	<!--
		%include scripts/shared.js%
		
		// STRING UTILITY FUNCTIONS
		%include scripts/filter_functions.js%

		// BASE FILTER JAVASCRIPT:
		// DEFINES GetFilter(), ClearAll(), SetFilter() AND RenderGameSpecificBox() FUNCTIONS AS VARIABLES.
		%include scripts/filter.js%
		
		// NOTE: Overrides are included in bottom of scripts/filter.js.
	//-->
	</script>
</head>

<body>
<table id='main_table' cellpadding='0' cellspacing='0' border='0' width='100%'><tr><td><!-- needed for scrollbar determination -->
<div id='wrap'>

	<div id='header'>
		<img class='game_icon' src='%game_iconfilename%' title='' alt='gameicon' width='32' height='32'/>
		<div class='game_name'>%displayuser%</div>
	</div>

	<div id='filter_buttons1'>
		<input class='button' type='button' size='15' name='refresh' value='%text_refresh%'>&nbsp;&nbsp;
		<input class='button' type='button' size='15' name='apply' value='%text_apply%'>&nbsp;&nbsp;
		<input class='button' type='button' size='15' name='clear' value='%text_clear%'>&nbsp;&nbsp;
		<input class='button' type='button' size='15' name='stop' value='%text_stop%'>
	</div>
	
	<div id='filter_box'>
		<div class='box_title'>%text_filters%</div>
		<div class='box_details'>
			<div><label for='xf_hideempty'><input id='xf_hideempty' type='checkbox' name='hideempty'>&nbsp;%text_hide_empty%</input></label></div>
			<div><label for='xf_hidefull'><input id='xf_hidefull' type='checkbox' name='hidefull'>&nbsp;%text_hide_full%</input></label></div>
			<table class='detail_table'>
				<tr>
					<th>%text_servername%:</th>
					<td><input id='xf_servername' class='text' type='text' size='15' name='servername' onkeypress='disableEnterKey()'/></td>
				</tr>
				<tr>
					<th>%text_mapname%:</th>
					<td><input id='xf_mapname' class='text' type='text' size='15' name='mapname' onkeypress='disableEnterKey()'/></td>
				</tr>
				<tr>
					<th>%text_gametype%:</th>
					<td><input id='xf_gametype' class='text' type='text' size='15' name='gametype' onkeypress='disableEnterKey()'/></td>
				</tr>
				<tr>
					<th>%text_max_ping%:</th>
					<td><input id='xf_ping' class='text' type='text' size='15' name='maxping' onkeypress='disableEnterKey()'/></td>
				</tr>
				<tr>
					<th>%text_min_players%:</th>
					<td><input id='xf_numplayers_min' class='text' type='text' size='15' name='minplayers' onkeypress='disableEnterKey()'/></td>
				</tr>
				<tr>
					<th>%text_max_players%:</th>
					<td><input id='xf_numplayers_max' class='text' type='text' size='15' name='maxplayers' onkeypress='disableEnterKey()'/></td>
				</tr>
				<tr>
					<th>%text_player_name%:</th>
					<td><input id='xf_player' class='text' type='text' size='15' name='player' onkeypress='disableEnterKey()'/></td>
				</tr>
				<tr>
					<th>%text_limit_servers_to%:</th>
					<td>
						<select	id='xf_country' name='xf_country'>
							<option value='all'>%text_all_countries%</option>
							<option value='country'>%text_my_country%</option>
							<option value='continent'>%text_my_continent%</option>
						</select>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div id='game_specific_box'>
		<div class='box_title'>Game Specific Filters</div>
		<div class='box_details'>
			<div id='game_specific_checkboxes_here'>
				<!-- CUSTOM CHECKBOXES DYNAMICALLY INSERTED HERE -->
				<!-- SEE RenderGameSpecificBox() -->
			</div>
			<table class='detail_table'>
				<tbody id='game_specific_table_here'>
					<!-- CUSTOM ROWS DYNAMICALLY INSERTED HERE -->
					<!-- SEE RenderGameSpecificBox() -->
				</tbody>
			</table>
		</div>	
	</div>
	
	<div id='advanced_box'>
		<div class='box_title'>%text_advanced_filters%</div>
		<div class='box_details'>
			<div>%text_raw_server_info%:</div>
			<table class='advanced_table'>
				<tbody id='raw_table'>
					<!-- RAW SERVER KEY/VALUES WILL BE DYNAMICALLY ADDED TO THIS TABLE -->
					<!-- IN FOLLOWING FORMAT:  SEE ADDRAWKEYVALUE() FUNCTION FOR DETAILS. -->
					<!-- 4 COLUMNS: ADD/REMOVE ICON | KEYS | EXPRESSION | VALUES
						<TR>
							<TH>
								<SPAN><IMG SRC.../></SPAN>
							</TH>
							<TD>
								<SELECT KEY>
									<OPTION .../>
									<OPTION .../>
								</SELECT>
							</TD>
							<TD>
								<SELECT EXPRESSION>
									<OPTION .../>
									<OPTION .../>
								</SELECT>
							</TD>
							<TD>
								<SELECT VALUE>
									<OPTION .../>
									<OPTION .../>
									<OPTION .../>
								</SELECT>
							</TD>
						</TR>
					-->
				</tbody>
			</table>
		</div>
	</div>	

	<div id='filter_buttons2'>
		<input class='button' type='button' size='15' name='refresh' value='%text_refresh%'>&nbsp;&nbsp;
		<input class='button' type='button' size='15' name='apply' value='%text_apply%'>&nbsp;&nbsp;
		<input class='button' type='button' size='15' name='clear' value='%text_clear%'>&nbsp;&nbsp;
		<input class='button' type='button' size='15' name='stop' value='%text_stop%'>
	</div>

	<!-- NEED AN ELEMENT TO FIRE AN EVENT ON -->
	<span id="fire_event_id"></span>

	<!-- RENDER ANY GAME SPECIFIC FILTERS DEFINED IN RenderGameSpecificBox() -->
	<script language="JavaScript">
	<!--
		RenderGameSpecificBox();
	-->
	</script>
	
</div>
</td></tr></table>
</body>
</html>
