<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style>
		%include styles/shared.css%
	    %include styles/clan.css%

		#games_table
		{
			width: 100%;
			border-collapse: collapse;
		}
		#games_table tr.odd_row
		{
			background-color: rgb(%color_shaded_x:0.03%);
		}
		#games_table td
		{
			padding-top: 2px;
			padding-bottom: 2px;
		}
		#games_table td.game_icon
		{
			width: 16px;
			padding-right: 4px;
		}
		#games_table td.launch
		{
			text-align: right;
		}
		
		#clan_news_box
		{
			clear: both;
		}		
		
		.box_title a
		{
			font-size: 0.85em;
		}    
		
/* NEW ACTIVITY FEED CSS STUFF */

.feed_entry_date,
hr
{
	display: none;
}

.feed_entry
{
	padding-left: 26px;
	margin-bottom: 10px;
}

.feed_entry img
{
	border: none;
}

.feed_entry_icon_common 
{
	display: inline;
	position: absolute;
	left: 6px;
	width: 20px;
	height: 20px;
}

.horizontal_spacer
{
	display: none;
}

.feed_entry_body
{
	display: inline;
}

.feed_entry_description
{
	display: inline;
}

.feed_entry_image 
{
	display: inline;
	margin-bottom: 5px;
}

.feed_entry_image img 
{
	display: inline;
}

.feed_entry_items
{
	margin-top: 6px;
}

.feed_entry_video_comment
{
	margin-top: 6px;
	margin-bottom: 6px;
}

.vertical_spacer
{
	display: none;
}

.feed_entry_icon_friends 
{
	background-image: url('%media_images_folder%/icon_newsfeed_friends_20x20.gif');
	background-repeat: no-repeat;
}

.feed_entry_icon_xfire 
{
	background-image: url('%media_images_folder%/icon_newsfeed_xfire_20x20.gif');
	background-repeat: no-repeat;
}

.feed_entry_icon_screenshots 
{
	background-image: url('%media_images_folder%/icon_newsfeed_screenshots_20x20.gif');
	background-repeat: no-repeat;
}

.feed_entry_icon_profile 
{
	background-image: url('%media_images_folder%/icon_newsfeed_profile_20x20.gif');
	background-repeat: no-repeat;
}

.feed_entry_icon_blogs 
{
	background-image: url('%media_images_folder%/icon_newsfeed_blogs_20x20.gif');
	background-repeat: no-repeat;
}

.feed_entry_icon_clans 
{
	background-image: url('%media_images_folder%/icon_newsfeed_clans_20x20.gif');
	background-repeat: no-repeat;
}

.feed_entry_icon_games 
{
	background-image: url('%media_images_folder%/icon_newsfeed_games_20x20.gif');
	background-repeat: no-repeat;
}

.feed_entry_icon_videos 
{
	background-image: url('%media_images_folder%/icon_newsfeed_videos_20x20.gif');
	background-repeat: no-repeat;
}

.feed_entry_icon_client 
{
	background-image: url('%media_images_folder%/icon_newsfeed_client_20x20.gif');
	background-repeat: no-repeat;
}

.feed_entry_icon_comment 
{
	background-image: url('%media_images_folder%/icon_newsfeed_comment_20x20.gif');
	background-repeat: no-repeat;
}

.feed_entry_description .game_icon 
{
	vertical-align: middle;
}

/* END NEW ACTIVITY FEED CSS STUFF */

		.activity_report_cache
		{
			behavior: url(#default#userData);
		}
	</style>
  
  <script language="JavaScript">
	%include scripts/shared.js%
	%include scripts/AjaxRequest.js%
    %include scripts/clans.js%
    %include scripts/activity_report.js%
    %include scripts/videocontests.js%
  </script>
  
</head>

<body>
<table id='main_table' cellpadding='0' cellspacing='0' border='0' width='100%'><tr><td><!-- needed for scrollbar determination -->
<div id='wrap'>

	<div id='activity_report_box' class='box'>
		<div class='box_title'>
			<div>%text_activity_report%</div>
			<div><a href='%activity_report_url%' target='_blank'>%text_view_more%</a></div>
		</div>
		<div class='box_details'>
			<div id='activity_report_details' class='activity_report_cache'>
				<!-- THIS WILL DYNAMICALLY GET FILLED IN WITH RETRIEVED ACTIVITY REPORT -->
			</div>
		</div>
	</div>

	<div class='box' id='video_contests_box' >
		<div class='box_title'>%text_video_contests%</div>
		<div class='box_details' id='video_contests_details'>
		</div>
	</div>
	
	<div class='box' id='clan_news_box' >
		<div class='box_title'>%text_clan_news%</div>
		<div class='box_details' id='clan_news_details'>
		</div>
	</div>
    
	<div class='box'>
		<div class='box_title'>
			<div>%detected_installed_games%</div>
			<div>
				<span class='fakelink' action='gamestab' style='font-size:0.8em;'>%text_detect_games%</span>
				<script>
				<!--
					if (%has_recent_game%)
					{
						document.write("&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<span id='launch_recent_id' class='fakelink' action='launch_recent' style='font-size:0.8em;'>%launch_recent%</span>");
					}
				//-->
				</script>
			</div>
		</div>
		<div class='box_details'>
			<table id='games_table'>
			<script>
			<!--
				var gameslist = { %pac_installed_games% };
				var i = 0;
				for(var p in gameslist)
				{
					var strLaunch = "%text_launch%";
					if (i%2==0)
					{
						document.write( "<tr><td class='game_icon'><img src='%media_icons_folder%" + p + ".gif' width='16' height='16'/></td><td><span class='fakelink' action='view_games_page' short_name='" + p + "'>" + gameslist[p] + "</span></td><td class='launch'><span class='fakelink' action='launch_game' short_name='" + p + "'>" + strLaunch + "</span></td></tr>" );
					}
					else
					{
						document.write( "<tr class='odd_row'><td class='game_icon'><img src='%media_icons_folder%" + p + ".gif' width='16' height='16'/></td><td><span class='fakelink' action='view_games_page' short_name='" + p + "'>" + gameslist[p] + "</span></td><td class='launch'><span class='fakelink' action='launch_game' short_name='" + p + "'>" + strLaunch + "</span></td></tr>" );
					}
					i++;
				}
			//-->
			</script>
			</table>
		</div>
	</div>
		
	<!-- NEED AN ELEMENT TO FIRE AN EVENT ON -->
	<!-- SEE RebuildEventSinks() FOR DESCRIPTION. -->
	<span id="fire_event_id"></span>
		
	<script language="JavaScript">
	<!--
		render_all_clan_news_box();
		request_activity_report();
		render_video_contests();
	//-->
	</script>
    
</div>
</td></tr></table>
</body>
</html>
