<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style>
		.main_page { margin:0px; color:rgb(0, 0, 0); background:rgb(%color_background%) url(%background_image%); background-repeat:repeat; background-attachment:fixed; }
		.offline_title { color:rgb(%color_text%);  font-weight:bold; font-size:%font_size_big%px; font-family:%font_name%; font-style:NORMAL_STR; }
	</style>
</head>
<body class='main_page'>
<table id='main_table' width='100%' height='100%' border='0'>
	<tr style='vertical-align:top'>
		<td>
			<span class='offline_title'>%text_offline%<br></span><br>
		</td>
	</tr>
</table>
</body>
</html>
