<div class='box'>
	<div class='box_title'>
      <table width='100%' cellpadding='0' cellspacing='0'>
        <tr>
          <td align='left'>%text_videos%</td>
          <td align='right'><a href=' ' href_type='video_options'>%video_capture_bindings%</a></td>
	    </tr>
	  </table>
	</div>
	<div class='box_details'>
	  <div>
		<input class='text' type='text' size='1' readonly='readonly' name='num_source' value='%source_videos_count%' onkeypress='disableEnterKey()'/>
		&nbsp;<a href=' ' href_type='open_videos_dir'>%text_source_videos%</a>&nbsp; %source_videos_total_size%
	  </div>
    <div>
      <input class='text' type='text' size='1' readonly='readonly' name='num_encoded' value='%encoded_videos_count%' onkeypress='disableEnterKey()'/>
      &nbsp;<a href=' ' href_type='open_videos_dir'>%text_encoded_videos%</a>&nbsp; %encoded_videos_total_size%
    </div>
    <div id='remote_section_id'>
		<input class='text' type='text' size='1' readonly='readonly' name='num_remote' value='%remote_videos_count%' onkeypress='disableEnterKey()'/>
		&nbsp;<a href='%user_videos_url%'>%text_remote_videos%</a>&nbsp; %remote_videos_total_size%
	  </div>
	  <div class='video_search_section'>
	    <input class='text' type='text' name='video_search_text' id='video_search_text' value='' size='15'/>
	    <input class='button' name='video_search_button' id='video_search_button' type='button' value='%text_video_search%'/>
	  </div>
    <div style='margin-left:3px;'>
      <a href='%xfire_videos_url%' target='_blank'>%text_browse_videos%</a>
    </div>
  </div>
</div>
