<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
	<script language="JavaScript">
		%include scripts/shared.js%
		%include scripts/linkify.js%
		%include scripts/user.js%	
	</script>	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style type="text/css">%include bf2\game_bf2.css%</style>
	<script type="text/javascript">%include bf2\game_bf2.js%</script>
	</head>
	<body onload="initialize();">
<table id="main_table" border=0 cellspacing=0 cellpadding=0><tr><td>
		<div id="outter_box">
			<div id="logo"></div>
			<div id="userinfo" class="box" style="display:none">
				<div class="heading"><img id="playerQSRank" src="http://media.xfire.com/v4/client/bf2ranks/rank_0.gif" style="display:none;float:left;margin-top:-1px;margin-left:-4px;margin-bottom:-4px;margin-right:-32px">%display_user%</div>
				<div class="keyvalue">
					<span class="value"><a id="profile_link" target="_blank">%text_profile%</a></span>
					<span class="key">%username%</span>
				</div>
				<div class="ex_box" id="playerQS" style="display:none;">
					<div class="expandable" onclick="expandPlayerQS();" id="playerQSExpand">View Stats</div>
					<div class="expandable" onclick="contractPlayerQS();" id="playerQSContract" style="display:none">Hide Stats</div>
					<div class="fetching" id="playerQSFetching" style="display:none">Fetching Data</div>
					<div id="playerQSData" style="display:none"></div>
				</div>
			</div>


      <div id='user_broadcast_box' class='box'>
        <div class='box_title'>
          <table width='100%' border='0' cellpadding='0' cellspacing='0'>
            <tr>
              <td>
                <div class='heading'>%text_live_video%</div>
              </td>
              <td class='small_text' align='right'>
                <div class='heading'>
                  <a href=' ' href_type='broadcast_options'>%broadcast_bindings%</a>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class='box_details'>
          <div id='user_broadcast_id' align='left' style='padding: 5px'></div>
        </div>
      </div>
      
      <div id="gameinfo" class="box" style="display:none"></div>
			<div id="team1" class="box" style="display:none"></div>
			<div id="team2" class="box" style="display:none"></div>
			<span id="raw_server_info_link_id" class="raw_data_button" onmouseover="this.className='raw_data_button_highlight';" onmouseout="this.className='raw_data_button';" onclick="ToggleRawServerInfo(this);">Display Raw Server Info</span>
			<span id="display_ranks" class="rank_button" style="display:none" onmouseover="this.className='rank_button_highlight';" onmouseout="this.className='rank_button';" onclick="clearRetries(); fetchRanks(all_pids);">Display Ranks</span>
			<div id='raw_server_info_id' class="box" style="display:none">
			<!-- render_raw_server_info() will insert data here -->
			</div>
			</div>

	<script language="JavaScript">
	<!--
		render_user_broadcast();
	//-->
	</script>
</td></tr></table>
	</body>
</html>
