		body
		{
			margin: 0;
			padding: 0;
			background-color: #4C5844;
			color: #000000; 
			/*
			This is the font specified by the loaded skin.  All children will derive 
			from this.  To set any children font sizes use EM to be consistent with 
			this font size.
			*/
			font-family: %font_name%;
			font-size: %font_size%px;
		}
		#wrap
		{
			width: 100%;
			height: 100%;
		}
		#header
		{
			height: 42px;
			background-color: #000000;
		}
		#header .game_icon
		{
			float: left;
			margin-top: 5px;
			margin-left: 5px;
		}
		#header .game_name
		{
			margin-top: 15px;
			margin-left: 45px;
			color: #FFFFFF; 
			font-weight: bold;
		}
		#filter_buttons1
		{
			margin: 6px;
			text-align: center;
		}
		#filter_buttons2
		{
			margin: 6px;
			text-align: center;
		}
		#filter_box,
		#game_specific_box,
		#advanced_box
		{
			margin: 6px;
			background-color: #B0A68D;
			border: 1px solid #000000;
		}
		#filter_box .box_title,
		#game_specific_box .box_title,
		#advanced_box .box_title
		{
			text-align: center;
			padding-top: 2px;
			padding-bottom: 2px;
			background-color: #786E55;
			color: #000000; 
			font-weight: bold;
			border-bottom: 1px solid #000000;
		}
		#filter_box .box_details,
		#game_specific_box .box_details,
		#advanced_box .box_details
		{
			padding: 6px;
		}		
		.detail_table
		{
			width: 100%;
			vertical-align: top;
		}
		.detail_table th
		{
			width: 100px;
			font-weight: bold;
			text-align: left;
		}
		.detail_table td
		{
		}
		.advanced_table
		{
			vertical-align: top;
		}
		.advanced_table th
		{
		}
		.advanced_table td
		{
		}
		label
		{
			font-weight: bold;
			cursor: pointer;
		}
		input.text
		{
			border: 1px solid #000000;
			color: #000000;
			background-color: #FFFFFF;
		}
		input.button
		{
			border: 1px solid #000000;
			color: #000000;
			background-color: #FFFFFF;
			cursor: pointer;
		}
		select
		{
			background-color: #FFFFFF;
			color: #000000;
		}
		select.raw_select
		{
			width: 100px;
		}
		img
		{
			border: none;
			vertical-align: top;
		}
		.fake_href
		{
			cursor: pointer;
		}
		#secure input
		{
			float: left;
			background: url(%media_template_folder%infoview/cs/CS_server_filter_vac.gif) no-repeat top left;
			/* width='18' height='15' */
		}