		body
		{
			margin: 0;
			padding: 0;
			background-color: rgb(%color_background%);
			color: rgb(%color_text%); 
			/*
			This is the font specified by the loaded skin.  All children will derive 
			from this.  To set any children font sizes use EM to be consistent with 
			this font size.
			*/
			font-family: %font_name%;
			font-size: %font_size%px;
		}
		#wrap
		{
			width: 100%;
			height: 100%;
		}
		#header
		{
			height: 42px;
			background-color: rgb(%color_shaded%);
			border-bottom: 1px solid rgb(%color_text%);
		}
		#header .game_icon
		{
			float: left;
			margin-top: 5px;
			margin-left: 5px;
		}
		#header .game_name
		{
			margin-top: 15px;
			margin-left: 45px;
			color: rgb(%color_text%); 
			font-size: 1.1em;
			font-weight: bold;
		}
		#filter_buttons1
		{
			margin: 6px;
			text-align: center;
		}
		#filter_buttons2
		{
			margin: 6px;
			text-align: center;
		}
		#filter_box,
		#game_specific_box,
		#advanced_box
		{
			margin: 6px;
			background-color: rgb(%color_shaded%);
			border: 1px solid rgb(%color_text%);
		}
		#filter_box .box_title,
		#game_specific_box .box_title,
		#advanced_box .box_title
		{
			text-align: center;
			padding-top: 2px;
			padding-bottom: 2px;
			background-color: rgb(%color_text%);
			color: rgb(%color_background%); 
			font-weight: bold;
		}
		#filter_box .box_details,
		#game_specific_box .box_details,
		#advanced_box .box_details
		{
			padding: 6px;
		}		
		.detail_table
		{
			width: 100%;
			vertical-align: top;
		}
		.detail_table th
		{
			width: 100px;
			font-weight: bold;
			text-align: left;
		}
		.detail_table td
		{
		}
		.advanced_table
		{
			vertical-align: top;
			width: 100%;
		}
		.advanced_table th
		{
		}
		.advanced_table td
		{
			text-align: left;
			width: 33%;
		}
		label
		{
			font-weight: bold;
			cursor: pointer;
		}
		input.text
		{
			border:1px solid rgb(%color_text%);
			color: rgb(%color_text%);
			background-color:rgb(%color_background%);
		}
		input.button
		{
			border: 1px solid rgb(%color_text%);
			color: rgb(%color_text%);
			font-size: 0.95em;
			background-color:rgb(%color_shaded%);
			cursor: pointer;
		}
		select
		{
			background-color: rgb(%color_background%);
			color: rgb(%color_text%);
			font-size: 0.95em;
		}
		img
		{
			border: none;
			vertical-align: top;
		}
		.fake_href
		{
			cursor: pointer;
		}

		/* Overrides */
		%include filter.css%