		.player_box
		{
			margin-left:4px;
			margin-right:4px;
			margin-top: 6px;
			margin-bottom: 6px;
			border: 1px solid rgb(%color_shaded_x:0.5%);
			background-color: rgb(%color_shaded_x:0.0%);
		}
		.player_box .box_title
		{
			text-align: left;
			padding-top: 2px;
			padding-bottom: 2px;
			padding-left: 3px;
			background-color: rgb(%color_background%);
			color: rgb(%color_text%); 
			font-size: 1.02em;
			font-weight: bold;
		}
		.player_box .box_details
		{
			padding: 6px;
		}
		
		.player_list_table
		{
			width: 100%;
		}
		.player_list_table th
		{
		}
		.player_list_table td
		{
		}
		
		.player_list_col_title_0,
		.player_list_col_title_1,
		.player_list_col_title_2
		{
			font-weight: bold;
			text-decoration: underline;
		}
		.player_list_col_title_0,
		.player_list_col_0,
		.player_list_col_0_highlighted
		{
			text-align: left;
		}
		.player_list_col_0
		{
			font-weight: normal;
		}
		.player_list_col_title_1,
		.player_list_col_title_2,
		.player_list_col_1,
		.player_list_col_2,
		.player_list_col_1_highlighted,
		.player_list_col_2_highlighted
		{
			text-align: right;
		}
		.player_list_col_0_highlighted,
		.player_list_col_1_highlighted,
		.player_list_col_2_highlighted
		{
			font-weight: bold;
			border: 1px solid rgb(%color_shaded_x:0.5%);
		}
		
		.total_frags
		{
			font-weight: bold;
			text-align: right;
		}

		#game_title_table
		{
			width: 100%;
			font-size: 1.1em;
			font-weight: bold;
		}
		#game_title_table th
		{
			width: 38px;
		}
		#game_title_table td
		{
		}
		#game_title_table td.launch_game
		{
			text-align: right;
		}
		
		#game_icon
		{
			width: 32px;
			height: 32px;
		}
		#game_lock
		{
			margin-top: -32px;
			width: 32px;
			height: 32px;
		}
		#raw_serverinfo_link_id,
		#raw_serverinfo_id
		{
			margin-top: 4px;
			margin-left: 4px;
		}
		#game_server_box input.button
		{
			margin-left: 4px;
			border: 1px solid rgb(%color_shaded_x:0.5%);
			background-color: rgb(%color_background%);
			color: rgb(%color_text%);
			font-size: 0.95em;
			cursor: hand;
		}
		#refresh_server_id,
		#game_stats_link
		{
			font-size: 0.85em;
		}
		.game_bio_title
		{
			font-weight: bold;
			text-align: center;
		}
				
		/* ATTEMPT TO INCLUDE GAME SPECIFIC OVERRIDE */
		%include server.css%
