		body
		{
			margin: 0;
			padding: 0;
			background-color: rgb(%color_background%);
			color: rgb(%color_text%);
			/*
			This is the font specified by the loaded skin.  All children will derive 
			from this.  To set any children font sizes use EM to be consistent with 
			this font size.
			*/
			font-family: %font_name%;
			font-size: %font_size%px;
		}
		#wrap
		{
		}
		
		.box
		{
			/* NOTE: Removing this border causes problems with infoview layout.  Hacked by setting border
					 color to same as background color.  Look into this later... */
			border: 1px solid rgb(%color_background%);
			background-color: rgb(%color_background%);
		}
		.box .box_title
		{
			text-align: left;
			padding-top: 3px;
			padding-bottom: 3px;
			padding-left: 6px;
			padding-right: 6px;
			background-color: rgb(%color_shaded_x:0.1%);
			color: rgb(%color_text%); 
			font-size: 1.2em;
			font-weight: bold;
		}
		.box .box_details
		{
			padding: 6px;
		}
		
		.detail_table
		{
			width: 100%;
			vertical-align: top;
		}
		.detail_table th
		{
			width: 100px;
			font-weight: bold;
			text-align: left;
		}
		.detail_table td
		{
		}
		
		.first_char_uppercase:first-letter
		{
			text-transform: capitalize;
		}
		
		a,
		.fakelink
		{
			color:rgb(%color_hyperlink%);
			font-weight:bold;
		}
		.fakelink
		{
			text-decoration: underline;
			cursor: pointer;
		}
		
		input.text
		{
			border: 1px solid rgb(%color_shaded_x:0.5%);
			background: transparent;
			color: rgb(%color_text%);
			vertical-align: middle;
			font-size: 0.95em;
		}
	    #header
		{
			background-color: rgb(%color_shaded%);
			border-bottom: 1px solid rgb(%color_text%);
			margin-bottom: 10px;
		}
	    
		#header h1
		{
			margin: 5px;
			color: rgb(%color_text%);
			font-size: 1.1em;
		}
	    
		#header p
		{
			margin-left: 6px;
			margin-top: -6px;
		}
		
		.small_text
		{
			font-size: 0.85em;
			font-weight: normal;
		}
		
		.fake_small_link
		{
			text-decoration: underline;
			font-size: 0.85em;
			cursor: pointer;
		}
