		#pft_uploads_id,
		#pft_downloads_id
		{
			display: none;
		}
		
		.pft_table
		{
			width: 100%;
			border-collapse: collapse;
		}

		/*#profile_link,*/
		/*#blocked_user_link,
		#capture_bindings,
		#take_your_own_link,
		.blog_link
		{
			font-size: 0.85em;
		}*/
		
		.blog_title
		{
			font-size: 1.1em;
			font-weight: bold;
			text-align: center;
		}

		.blog_date
		{
			font-size: 0.95em;
			text-align: center;
		}
				
		/* ATTEMPT TO INCLUDE USER SPECIFIC OVERRIDE */
		%include user.css%
