		.box_title a
		{
			font-size: 0.85em;
		}

		input.text
		{
			border:1px solid rgb(%color_shaded_x:0.1%);
			color: rgb(%color_text%);
			background-color:rgb(%color_background%);
			text-align: center;
			font-weight: bold;
		}

		.video_search_section,
		#upload_video_button
		{
			margin-top:5px;
		}
		
		.video_search_section input.text
		{
			border:1px solid rgb(%color_shaded_x:0.1%);
			color: rgb(%color_text%);
			background-color:rgb(%color_text_inverted%);
			text-align: left;
		}

		.video_search_section input.button,
		#upload_video_button
		{
			border: 1px solid rgb(%color_shaded_x:0.3%);
			background-color: rgb(%color_text%);
			color: rgb(%color_background%);
			vertical-align: middle;
			font-size: 0.90em;
			cursor: pointer;
		}

		.thumbnail
		{
			align: center;
			text-align: center;
			margin-top: 10px;
		}
	    
		#video_path
		{
			margin-top: 10px;
		}

		#video_details
		{
			margin-top: 12px;
			margin-left: 6px;
			margin-right: 6px;
			padding-top: 6px;
			padding-bottom: 6px;
			padding-left: 8px;
			padding-right: 8px;
			border: 1px solid rgb(%color_shaded_x:0.3%);
			background-color: rgb(%color_shaded%);
		}
		
		#video_upload
		{
			margin-top: 14px;
			margin-left: 8px;
			margin-right: 8px;
		}

		.detail_table
		{
			width: 100%;
		}
		.detail_table th
		{
			width: 70px;
			font-weight: bold;
			text-align: left;
			vertical-align: top;
		}
		.detail_table td
		{
			vertical-align: top;
		}

		#video_thumbnail
		{
			border: 1px solid rgb(%color_shaded_x:0.3%);
		}

		.ta
		{
			width: 98%;
			overflow: auto;

			font-family: %font_name%;
			color: rgb(%color_text%);
			text-align: left;
			background-color:rgb(%color_text_inverted%);
			border:1px solid rgb(%color_shaded_x:0.3%);
		}
	    
		.save_button
		{
			border: 1px solid rgb(%color_shaded_x:0.3%);
			background-color: rgb(%color_text%);
			color: rgb(%color_background%);
			vertical-align: middle;
			font-size: 0.90em;
			cursor: pointer;
		}
