<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style>
    %include styles/shared.css%
    %include styles/clan.css%
  </style>
  <script language="JavaScript">
    %include scripts/clans.js%
    %include scripts/colorize.js%
  </script>
</head>
<body>
<table id='main_table' cellpadding='0' cellspacing='0' border='0' width='100%'><tr><td><!-- needed for scrollbar determination -->
<div id='wrap'>

	<div id='clan_box' class='box'>
		<div class='box_title'>
      <table>
        <tr>
          <td rowspan='2'><img src='%clan_logo_small%' alt='%clan_name%'/></td>
          <td>%clan_name%</td>
        </tr>
        <tr>
          <td><a href='%clan_url%' class='small_text' target='_blank'>%text_clan_type%</a></td>
        </tr>
      </table>
    </div>
  </div>

  <div class='indented_boxes' id='news_box' style='display:none'>
    <div class='box'>
      <div class='box_title'>%text_news%</div>
      <div class='box_details' id='news_details'></div>
    </div>
  </div>

  <div class='indented_boxes' id='events_box' style='display:none'>
    <div class='box'>
      <div class='box_title'>%text_events%</div>
      <div class='box_details' id='events_details'></div>
    </div>
  </div>

  <div class='indented_boxes' id='fav_servers_box' style='display:none'>
    <div class='box'>
      <div class='box_title'>%text_favorite_servers%</div>
      <div class='box_details' id='fav_servers_details'></div>
    </div>
  </div>

  <div class='indented_boxes' id='online_box'>
	<div class='box'>
      <div class='box_title' id='online_title'></div>
      <div class='box_details' id='online_details'></div>
  	</div>
  </div>

  <div class='indented_boxes' id='offline_box'>
    <div class='box'>
      <div class='box_title' id='offline_title'></div>
      <div class='box_details' id='offline_details'></div>
    </div>
  </div>

  <script language="JavaScript">
  <!--
    render_clan_news_box();
	render_clan_events_box();
	render_clan_fav_servers_box();
    render_clan_online_box();
    render_clan_offline_box();
  //-->
  </script>

</div>
</td></tr></table>
</body>
</html>
