<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style>
		%include styles/shared.css%
		.field_header
		{
			font-weight: bold;
		}
		.user_text
		{
			margin-left: 5px;
		}
	</style>
</head>

<body>
<table id='main_table' cellpadding='0' cellspacing='0' border='0' width='100%'><tr><td><!-- needed for scrollbar determination -->
<div id='wrap'>

	<div class='box'>
		<div class='box_title'>%customgroup_title%</div>
		<div class='box_details'>
			<script language="JavaScript">
			<!--
				var strProfileURL = "%profile_url%";
				var vOnlineUsers = [ %customgroup_onlineusers% ];
				var vOfflineUsers = [ %customgroup_offlineusers% ];
				if (vOnlineUsers.length > 0)
				{
					var strOnline = "%online_text%";
					document.write("<div class='field_header'>" + strOnline + "</div>");
					for (var i = 0; i < vOnlineUsers.length; i++)
					{
						if (vOnlineUsers[i].plugin_user == "true")
						{
							document.write("<div class='user_text'>" + vOnlineUsers[i].display + "</div>");
						}
						else
						{
							document.write("<div class='user_text'><a href='" + strProfileURL + vOnlineUsers[i].username + "' target='_blank'>" + vOnlineUsers[i].display + "</a></div>");
						}
					}
					document.write("<br>");			
				}

				if (vOfflineUsers.length > 0)
				{
					var strOffline = "%offline_text%";
					document.write("<div class='field_header'>" + strOffline + "</div>");
					for (var j = 0; j < vOfflineUsers.length; j++)
					{
						if (vOfflineUsers[j].plugin_user == "true")
						{
							document.write("<div class='user_text'>" + vOfflineUsers[j].display + "</div>");
						}
						else
						{
							document.write("<div class='user_text'><a href='" + strProfileURL + vOfflineUsers[j].username + "' target='_blank'>" + vOfflineUsers[j].display + "</a></div>");
						}
					}			
					document.write("<br>");
				}			
		
			//-->
			</script>
		</div>
	</div>
	
</div>
</td></tr></table>
</body>
</html>
