<div class='box' style='margin-bottom:5px;'>
  <div class='box_title'>%text_file_downloads%</div>
  <div class='box_details'>
    <table width='100%'>
      <tr>
        <td id='totaldlrate_id' class='rate_output_box'>%display_totaldlrate%</td>
        <td>&nbsp;B/s : %text_downloadrate%</td>
      </tr>
      <tr>
        <td id='totalulrate_id' class='rate_output_box'>%display_totalulrate%</td>
        <td>&nbsp;B/s : %text_uploadrate%</td>
      </tr>
    </table>
    <div style='margin-left:2px;margin-top:5px;'>
      <input class='text' type='text' name='search_text' id='search_text' value='' size='15'/>
      <input class='button' name='go' id='go' type='button' value='%text_search_files%'/>
    </div>
    <div style='margin-left:3px;'>
      <a href='%xfire_files_url%' target='_blank'>%text_browse_files%</a>
    </div>
  </div>
</div>
