<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style>
    %include styles/shared.css%
		%include download_styles.tmpl%
		.datatable
		{
			width: 95%;
			margin-bottom: 10px;
		}
		.title_details a:link, .title_details a:visited, .title_details a:hover, .title_details a:active
		{
			color: rgb(%color_text%); 
			text-decoration: underline;
		}
		.download_link a:link, .download_link a:visited, .download_link a:hover, .download_link a:active
		{
			color: rgb(%color_hyperlink%); 
			font-weight: bold; 
			text-decoration: underline;
		}
	</style>
	<script language="JavaScript">
	<!--
%include scripts/AjaxRequest.js%
	//-->
	</script>
</head>
<body>
<table id='main_table' width='100%' height='100%' border='0' cellpadding='0' cellspacing='0'><tr><td>
<div id='wrap'>
	%include download_header.tmpl%
  
  <div class='box'>
    <div class='box_title'>%dailytop10_text%</div>
    <div class='box_details'>
      <div id="daily"><i>Querying the server...</i></div>
    </div>
  </div>

  <div class='box'>
    <div class='box_title'>%weeklytop10_text%</div>
    <div class='box_details'>
      <div id="weekly"><i>Querying the server...</i></div>
    </div>
  </div>
  
</div>
  
<script language="JavaScript">
<!--
	var daily_div = document.getElementById('daily');
	var weekly_div = document.getElementById('weekly');
	function addResults(title, rows, div)
	{
		//var tbl_str = "<table class='datatable'><tr><th>" + title + "</th><th></th></tr>";
    var tbl_str = "<table class='datatable'>";
		for (var r = 0; r < rows.length; r++)
		{
			var fileid_elem = rows[r].getElementsByTagName('fileid');
			var title_elem = rows[r].getElementsByTagName('title');
			var fileid = fileid_elem[0].firstChild.nodeValue;
			var title = title_elem[0].firstChild.nodeValue;
			tbl_str += "<tr><td class='title_details'><a href='%file_details_url%" + fileid + "' target='_blank'>" + title + "</a></td><td class='download_link'><a href='%download_file_url%" + fileid + "'>%download_text%</a></td></tr>";
		}
		tbl_str += "</table>";
		div.innerHTML = tbl_str;
		//alert("borked!" + null.foo);
	}

	function requestDaily()
	{
		daily_div.innerHTML = "";
		AjaxRequest.get(
			{
				'url':"%scripting_host%/v4/client/filesinfo.php?type=topdaily",
				'timeout':10000,
				'onSuccess':
					function (req)
					{
						var rows = req.responseXML.getElementsByTagName('row');
						addResults("%dailytop10_text%", rows, daily_div);
						var newEvt = document.createEventObject();
						var bRet = document.getElementById('request_finished_id').fireEvent("ondataavailable", newEvt);
					},
				'onError':
					function (req)
					{
						daily_div.innerHTML = "%text_error_fetch%, <b style='cursor:pointer;text-decoration:underline' onclick='requestDaily();'>%text_error_retry%</b>";
					},
				'onTimeout':
					function (req)
					{
						daily_div.innerHTML = "%text_error_timeout%, <b style='cursor:pointer;text-decoration:underline' onclick='requestDaily();'>%text_error_retry%</b>";
					}
			}
		);
	}

	function requestWeekly()
	{
		weekly_div.innerHTML = "";
		AjaxRequest.get(
			{
				'url':"%scripting_host%/v4/client/filesinfo.php?type=topweekly",
				'timeout':10000,
				'onSuccess':
					function (req)
					{
						var weekly_div = document.getElementById('weekly');
						var rows = req.responseXML.getElementsByTagName('row');
						addResults("%weeklytop10_text%", rows, weekly_div);
						var newEvt = document.createEventObject();
						var bRet = document.getElementById('request_finished_id').fireEvent("ondataavailable", newEvt);
					},
				'onError':
					function (req)
					{
						weekly_div.innerHTML = "%text_error_fetch%, <b style='cursor:pointer;text-decoration:underline' onclick='requestWeekly();'>%text_error_retry%</b>";
					},
				'onTimeout':
					function (req)
					{
						weekly_div.innerHTML = "%text_error_timeout%, <b style='cursor:pointer;text-decoration:underline' onclick='requestWeekly();'>%text_error_retry%</b>";
					}
			}
		);
	}
	requestDaily();
	requestWeekly();
-->
</script>
<!-- NEED AN ELEMENT TO FIRE AN EVENT ON -->
<span id="request_finished_id"></span>
</td></tr></table>
</body>
</html>
