<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style>
    %include styles/shared.css%
    %include download_styles.tmpl%
  </style>
</head>
<body>
<div id='wrap'>
  %include download_header.tmpl%

  <div class='box'>
    <div class='box_title'>%download_category_title%</div>
    <div class='box_details'>%download_category_description%</div>
  </div>

</div>	
</body>
</html>
