<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style>
		%include styles/shared.css%
    ul 
    {
      margin-top: 5px;
      margin-left: 20px;
      margin-bottom: 0px;
      margin-right: 10px;
      list-style-type: square;
    }
    
	.float_left_icon
	{
		float: left;
		padding-right: 5px;
	}
	
	.clear_left
	{
		clear: left;
	}
    
	.box_title a
    {
	    font-size: 0.85em;
    }    
    
	</style>
</head>

<body>
<table id='main_table' cellpadding='0' cellspacing='0' border='0' width='100%'><tr><td><!-- needed for scrollbar determination -->
<div id='wrap'>

	<div class='box'>
		<div class='box_title'>
			<div>%text_learn_about_xfire%</div>
			<div><a href='%www_url%/tour' target='_blank'>%text_learn_tour%</a></div>
		</div>	
		<div class='box_details'>
			<div><img class='float_left_icon' src='%media_template_folder%infoview/images/friends.gif' width='25' height='25'/><a href="%www_url%/tour/oneclick" target="_blank">%text_learn_join%</a></div>
			<br/>
			<div><img class='float_left_icon' src='%media_template_folder%infoview/images/ingame.gif' width='25' height='25'><a href="%www_url%/tour/im" target="_blank">%text_learn_ingame%</a>&nbsp;<span>(%text_learn_xig_key%)</span></div>
			<br/>
			<div><img class='float_left_icon' src='%media_template_folder%infoview/images/patches.gif' width='25' height='25'><a href="%www_url%/tour/patches" target="_blank">%text_learn_patches%</a></div>
			<br/>
		</div>
	</div>
		
	<div class='box'>
		<div class='box_title'>%text_new_users%</div>
		<div class='box_details'>%text_new_users_detail%
			<ul>
				<li><a href="http://%site_host%/register/" target="_blank">%text_new_user_registration_title%</a>
			</ul>
		</div>
	</div>
	<br/>

	<div class='box'>
		<div class='box_title'>%text_resources%</div>
		<div class='box_details'>
			<ul>
				<li><a href="http://%site_host%/faq" target="_blank">%text_frequently_asked_questions%</a>
				<li><a href="http://%site_host%/xf/modules.php?name=Forums&file=viewforum&f=5" target="_blank">%text_technical_support_forum%</a>
				<li><a href="http://media.xfire.com/xfire/readme.html" target="_blank">%text_latest_release_notes%</a>
			</ul>
		</div>
	</div>
	
</div>
</td></tr></table>
</body>
</html>
