<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style>
		%include styles/shared.css%

		.box_title a
		{
		  font-size: 0.85em;
		}

		input.text
		{
		  text-align: center;
		  border:1px solid rgb(%color_shaded_x:0.1%);
		  color: rgb(%color_text%);
		  background-color:rgb(%color_background%);
		  font-weight: bold;
		}
	</style>

	<script language="JavaScript">
		%include scripts/shared.js%
		%include scripts/screenshots.js%
	</script>	
  
</head>

<body>
<table id='main_table' cellpadding='0' cellspacing='0' border='0' width='100%'><tr><td><!-- needed for scrollbar determination -->
<div id='wrap'>

	%include screenshot_header.tmpl%

	<div class='box'>
		<div class='box_title'>%help_text%</div>
		<div class='box_details'>
			<div>%screenshot_cat_text%</div>
		</div>
	</div>

	<script language="JavaScript">
		RenderHeader();
	</script>

</div>
</td></tr></table>
</body>
</html>
