<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style>
		body
		{
			margin: 0;
			padding: 0;
			background-color: rgb(%color_background%);
			color: rgb(%color_text%); 
			/*
			This is the font specified by the loaded skin.  All children will derive 
			from this.  To set any children font sizes use EM to be consistent with 
			this font size.
			*/
			font-family: %font_name%;
			font-size: %font_size%px;
		}
		#wrap
		{
			width: 100%;
			height: 100%;
		}
		
		#header
		{
			background-color: rgb(%color_shaded%);
			border-bottom: 1px solid rgb(%color_text%);
		}
		
		#category_icon
		{
			height: 32px;
			width: 32px;		
			background-image: url('%media_template_folder%infoview/images/icon_local_screenshot.gif');
			background-repeat: no-repeat;
			background-position: left center;
		}
		#category_title
		{
			font-size: 1.4em; 
			font-weight: bold;
		}
		#category_data
		{
			font-size: 1.0em; 
			font-weight: bold;
		}
		
		#screenshot_details
		{
			margin: 12px;
			padding-top: 6px;
			padding-bottom: 6px;
			padding-left: 8px;
			padding-right: 8px;
			border: 1px solid rgb(%color_text%);
			background-color: rgb(%color_shaded%);
		}
		
	</style>
	
	<script language="JavaScript">
	
		///////////////////////////////////////////////////////////////////////////////
		// Category icon is defaulted to local.  Change it if this is remote category.
		///////////////////////////////////////////////////////////////////////////////
		function RenderCategoryIcon()
		{
			var element = document.getElementById("category_icon");
			if (element)
			{
				if (%is_remote_screenshot%)
				{
					element.style.backgroundImage = "url(%media_template_folder%infoview/images/icon_remote_screenshot.gif)";
				}
			}
		}
		
	</script>
	
</head>
<body>
<table id='main_table' cellpadding='0' cellspacing='0' border='0' width='100%'><tr><td><div id='main_div'><!-- needed for scrollbar determination -->
<div id="wrap">

	<div id='header'><div style='margin-left: 3px; margin-right: 3px;'>
		<table width='100%'>
			<tr>
				<td id='category_icon' rowspan='2'></td>
				<td id='category_title' align='right'>%screenshots_text%</td>
			</tr>
			<tr>
				<td id='category_data' align='right'>%screenshot_cat_data%</td>
			</tr>
		</table>
	</div></div>
	
	<div id='screenshot_details'>%screenshot_cat_text%</div>

	<script language="JavaScript">
		RenderCategoryIcon();
	</script>
	
</div>
</td></tr></table>
</body>
</html>
