.wow_slot
{
	width: 64px;
	height: 68px;
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	background-position: 8px 4px;
	position: absolute;
}
.frame
{
	width: 100%;
	height: 100%;
	/* background-image: url(%media_template_folder%infoview/wow/icon-glass.gif); */
	background-repeat: no-repeat;
	cursor: pointer;
}
#wow_info
{
	width: 166px;
	height: 378px;
	background-color: rgb(40,40,40);
	color: rgb(232,232,232);
	border: 1px solid yellow;
	padding: 3px;
	position: absolute;
	overflow: auto;
}
#wow_info a
{
	color: rgb(245,245,245);)
}
.green
{
	font-weight: bold;
	color: rgb(%color_shaded_x:0.7%);
}
.grey
{
	color: rgb(%color_shaded_x:0.4%);
}
#char_not_found
{
	width: 300px;
	height: 480px;
	position: relative;
	z-index: 10;
	background-color: rgb(%color_background%);
}
#wow_items
{
	width: 300px;
	height: 480px;
}
#char_title, #char_name, #guild_name, #char_info
{
	padding-left: 67px;
}
#char_title
{
	font-weight: bold;
}
#char_name
{
	font-size: 150%;
}
#guild_name
{
	color: rgb(%color_shaded_x:0.7%);
}
#char_img
{
	float: left;
	width: 64px;
	height: 64px;
}
#char_box
{
	height: 64px;
	padding: 3px;
}
#char_selection
{
	white-space: nowrap;
}
#char_selection select
{
	font-size: 0.8em;
}
.bar
{
	text-align: center;
	background-repeat: repeat-x;
	height: 16px;
	line-height: 16px;
}
#char_tab
{
	display:none;
}
/* From the Armory */
.myGold 		{ color: #e5cc80;}
.myOrange 		{ color: #ff8000;}
.myPurple 		{ color: #A335EE;}
.myBlue 		{ color: #0070DD;}
.myGray 		{ color: #c9c9c9;}
.myGreen 		{ color: #00FF00;}
.myYellow 		{ color: #ffd517;}
.myRed 			{ color: #d80000;}
.myWhite 		{ color: #ffffff;}
.rarity0		{ color: #5B5B5B !important;}/*grey*/
a.rarity0:hover		{ color: #919191 !important;}/*grey*/
a.rarity1		{ color: #ffffff !important;}/*white*/
a.rarity1:hover		{ color: #ffffff !important;}/*white*/
a.rarity2		{ color: #007200 !important;}/*green*/
a.rarity2:hover		{ color: #00A900 !important;}/*green*/
a.rarity3		{ color: #004385 !important;}/*blue*/
a.rarity3:hover		{ color: #0062C3 !important;}/*blue*/
a.rarity4		{ color: #5D1F88 !important;}/*purple*/
a.rarity4:hover		{ color: #B343FF !important;}/*purple*/
a.rarity5		{ color: #C24E00 !important;}/*orange*/
a.rarity5:hover		{ color: #FA9900 !important;}/*orange*/
a.rarity6		{ color: #9C884D !important;}/*gold*/
a.rarity6:hover		{ color: #e5cc80 !important;}/*gold*/
a.rarity6:hover		{ color: #e5cc80 !important;}/*gold*/
.rarityShadow0		{ color: #E6E6E6 !important;}/*grey*/
.rarityShadow1		{ color: #000000 !important;}/*white*/
.rarityShadow2		{ color: #82F682 !important;}/*green*/
.rarityShadow3		{ color: #AAD5FF !important;}/*blue*/
.rarityShadow4		{ color: #F0D4FF !important;}/*purple*/
.rarityShadow5		{ color: #FFCC00 !important;}/*orange*/
.rarityShadow6		{ color: #e5cc80 !important;}/*gold*/
.socketImg 		{ width:14px; height:14px; vertical-align:-20%; margin:0 7px 0 0; padding:0;}
.tooltipRight 		{ position:absolute; right:2px; }
.bonusGreen 		{ color:#00FF00; }
.setNameYellow 		{ color:#ffd517; }
.setItemYellow 		{ color:#f8ffa8; }
.setItemGray 		{ color:#787880; }
