<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<style>
		body 
		{ 
			margin: 3px; 
			padding: 0; 
			border: 1px solid InactiveBorder;
			background-color: White;
			color: WindowText;
			font: 8pt Tahoma, MS Shell Dlg;
			background-image: url(%media_template_folder%enter_caption_bg.jpg);
			background-repeat: no-repeat;
			background-position: center;
			background-attachment: fixed;
		}
		.table_container
		{
			margin-left: 0px;
		}
		tr
		{
			height: 16px;
		}
		td
		{
			margin: 0px;
			padding: 0px;
			color: WindowText;
			font: 7pt Tahoma, MS Shell Dlg;
		}
		img
		{
			border: none;
			border-style: none;
			width: 16px;
			height: 16px;
		}
	</style>
</head>
	
<body>
	<p>
		<div>Xfire Copyright (C) 2003-2012</div>
		<div><b>%build_version%</b></div>
		<div>%build_timestamp%</div><br />
		<div>%lang_dll_name% <b>Build %lang_dll_build%</b></div>
		<div>XFIRE_GAMES.INI <b>%xfire_game_ini_version%</b></div>
		<div>XFIRE_TOUCAN <b>Build %toucan_build%</b></div>
		<div>DEV_GAMES.INI <b>%dev_game_ini_loaded%</b></div><br />
    <div>Xfire Codec (XFR1) <b>%codec_installed%</b></div>
		<div></div>
	</p>
	
	<p>
	<div align='center'><a href='http://media.xfire.com/xfire/readme.html' target='_blank'>Changelog</a> | <a href='http://blog.xfire.com'  target='_blank'>Blog</a></div>
	</p>

	<p>
		<div style='font-weight: bold;'>%xfire_is%</div>
		<div class='table_container'>
			<table>
				<tr><td></td><td>Adrian Castro, <i>Web Developer</i></td></tr>
				<tr><td></td><td>Mark Donovan, <i>President</i></td></tr>
				<tr><td></td><td>Damian Greco, <i>Chief Financial Officer</i></td></tr>
				<tr><td></td><td>Sybil Grieb, <i>Director of Ad Sales</i></td></tr>
				<tr><td></td><td>Joel Jackson, <i>Web Developer</i></td></tr>
				<tr><td></td><td>Paul Kim, <i>Chief Executive Officer</i></td></tr>
				<tr><td></td><td>Ben McDermott, <i>Community Manager</i></td></tr>
				<tr><td></td><td>Scott Montgomerie, <i>Director of Engineering</i></td></tr>
				<tr><td></td><td>Travis Payne, <i>Creative Director</i></td></tr>
				<tr><td></td><td>Niles Plante, <i>Product Manager</i></td></tr>
				<tr><td></td><td>Kenna Ranson, <i>Marketing Director</i></td></tr>
				<tr><td></td><td>Niki Saletta, <i>Business Operations Manager</i></td></tr>
				<tr><td></td><td>James Spriesterbach, <i>System Administrator</i></td></tr>
				<tr><td></td><td>Shane Stevens, <i>Game Support Lead</i></td></tr>
				<tr><td></td><td>Devin Swan, <i>QA Project Lead</i></td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Scott Wilson, <i>Operations Engineer</i></td></tr>
			</table>
		</div>
	</p>

	<p>	
		<div style='cursor: pointer; color: #0000FF; font-weight: bold; text-decoration: underline;' onClick="document.getElementById('special_thanks').style.display='block'">%special_thanks%</div>
		<div style='display: none;' id='special_thanks' class='table_container'>
			<table>
				<tr><td></td><td>Harold Abrego</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%mild_pepper.png'/></a></td><td>Mike Andrews</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Dan Anthony</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Mike Ayer</td></tr>
				<tr><td></td><td>Jake Barba</td></tr>
				<tr><td></td><td>David Bardwick</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Tom Bazzano</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Geoff Benson</td></tr>
				<tr><td></td><td>Christian Biermann</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Garrett Arch Blythe</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Adam Boyden</td></tr>
				<tr><td></td><td>Sam Bradley</td></tr>
				<tr><td></td><td>Jim Brandt</td></tr>
				<tr><td></td><td>Tim Brengle</td></tr>
				<tr><td></td><td>Juston Brommel</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Chris Buell</td></tr>
				<tr><td></td><td>Regina Buenaobra</td></tr>
				<tr><td></td><td>Alon Carmeli</td></tr>
				<tr><td></td><td>Malcolm CasSelle</td></tr>
				<tr><td></td><td>Mike Cassidy</td></tr>
				<tr><td></td><td>Nicolas Cerrato</td></tr>
				<tr><td></td><td>Jonathan Cordero</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Sean Culhane</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Van Dempsey</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Frederic Descamps</td></tr>
				<tr><td></td><td>Francisco Diaz-Mitoma</td></tr>
				<tr><td></td><td>Devin Di Nardo</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Brandon Fields</td></tr>
				<tr><td></td><td>Monica Fok</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Dennis Fong</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Matt Gilman</td></tr>
				<tr><td></td><td>Deb Green</td></tr>
				<tr><td></td><td>Joe Greene</td></tr>
				<tr><td></td><td>Dave Gregory</td></tr>
				<tr><td></td><td>Michael Gucwa</td></tr>
				<tr><td></td><td>Jon Hancock</td></tr>
				<tr><td></td><td>Sean Healy</td></tr>
				<tr><td></td><td>John Holder</td></tr>
				<tr><td></td><td>Geoffrey Hyatt</td></tr>
				<tr><td></td><td>Toran Jeffers</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Mike Judge</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%mild_pepper.png'/></a></td><td>Douglas Kennedy</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Darron King</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Chris Kirmse</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Erin Kiskis</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Ryan Kiskis</td></tr>
				<tr><td></td><td>Craig Knox</td></tr>
				<tr><td></td><td>Justin Landis</td></tr>
				<tr><td></td><td>Erica Larson</td></tr>
				<tr><td></td><td>David Lawee</td></tr>
				<tr><td></td><td>Jae Lee</td></tr>
				<tr><td></td><td>Wade Lutz</td></tr>
				<tr><td></td><td>John Maffei</td></tr>
				<tr><td></td><td>Charles Manning</td></tr>
				<tr><td></td><td>Tony Marra</td></tr>
				<tr><td></td><td>Salvador Martinez</td></tr>
				<tr><td></td><td>Virgil Mayol</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>John McCann</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%mild_pepper.png'/></a></td><td>Brian McKelvey</td></tr>
				<tr><td></td><td>Lorenzo Melgoza</td></tr>
				<tr><td></td><td>Ruby Moyoli</td></tr>
				<tr><td></td><td>Marcel Munro</td></tr>
				<tr><td></td><td>Robert Murua</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Daniel Murillo</td></tr>
				<tr><td></td><td>Janelle Namwong</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%mild_pepper.png'/></a></td><td>Sylvain Niles</td></tr>
				<tr><td></td><td>Noah Ouellette</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Mike Oxford</td></tr>
				<tr><td></td><td>Brian Park</td></tr>
				<tr><td></td><td>Adam Pedersen</td></tr>
				<tr><td></td><td>Nate Pope</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%mild_pepper.png'/></a></td><td>Stan Press</td></tr>
				<tr><td></td><td>Alex Raddas</td></tr>
				<tr><td></td><td>Autumn Radtke</td></tr>
				<tr><td></td><td>Naval Ravikant</td></tr>
				<tr><td></td><td>Kailei Ritcheson</td></tr>
				<tr><td></td><td>Mike Ryan</td></tr>
				<tr><td></td><td>Lisa Serwin</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Lisa Smith</td></tr>
				<tr><td></td><td>Michael Steuer</td></tr>
				<tr><td></td><td>Chris Strong</td></tr>
				<tr><td></td><td>Paul Stroube</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Darren Su</td></tr>
				<tr><td></td><td>Cliff Sun</td></tr>
				<tr><td></td><td>Veronica Tegen</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Yulius Tjahjadi</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%mild_pepper.png'/></a></td><td>Jordan Toor</td></tr>
				<tr><td></td><td>Matt Urbano</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Andrew Voelker</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%mild_pepper.png'/></a></td><td>Chad Walker</td></tr>
				<tr><td></td><td>Sophia Wang</td></tr>
				<tr><td></td><td>Shannon White</td></tr>
				<tr><td><a href='%pepper_url%' target='_blank'><img src='%media_template_folder%hot_pepper.png'/></a></td><td>Kevin Wilson</td></tr>
				<tr><td></td><td>Tyler Wilson</td></tr>
				<tr><td></td><td>Max Woon</td></tr>
			</table>
		</div>
	</p>
		
</body>
</html>
