<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <style>
    a
    {
    color: %av_color_hyperlink%;
    }
    body
    {
    margin: 0px;
    padding: 0;
    border: 0px solid InactiveBorder;
    background-color: White;
    color: WindowText;
    font: 8pt Tahoma, MS Shell Dlg;
    }
  </style>
</head>
<body>
  <div style="margin-left:10px;">
    <img src="%media_template_folder%header_image.jpg" align="left" />
  </div>
  <div style="margin-left:200px; margin-top: 5px;">
    <b>%clan_event_title%</b>
    <br/>
    %clan_event_start_time%
    <br/>
    %clan_event_end_time%
 </div>
</body>
</html>