<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<style>
		body 
		{ 
			margin: 0; 
			padding: 0; 
			border: 1px solid InactiveBorder;
			background-color: #EFEEEF;
		}
		img
		{
			border: none;
		}
		td
		{
			padding: 5px;
		}
		.img_element
		{
			margin-top: 5px;
			text-align: center;
		}
		.upload_check
		{
			float: left;
			margin-bottom: 2px;
		}
		.delete_check
		{
			float: right;
			margin-right: 10px;
			margin-bottom: 2px;
		}
		.adult_check
		{
			margin: -12 0 0 0;
		}
		label
		{
			font-family: MS Sans Serif;
			font-size: 6pt;
		}
		textarea
		{
			margin-left: 4px;
		}
		.textarea_bg_image
		{
			background-image: url(%media_template_folder%enter_caption_bg.jpg);
			background-repeat: no-repeat;
			background-position: center;
		}
		.textarea_no_bg_image
		{
			background-image: none;
		}
		.enter_caption
		{
			position: relative;
			width: 162px;
			top: -52px;
			left: 6px;
			text-align: center;
			font-family: MS Sans Serif;
			font-size: 8pt;
			font-weight: bold;
			color: InactiveBorder;
			cursor: text;
		}
		.image_normal
		{
			/* filter:alpha(opacity=100); */
		}
		.image_opaque
		{
			 /* filter:alpha(opacity=50); */
		}
		.dropshadow_container
		{
			width: 166px;
			height: 126px;
			padding-bottom: 6px;
			padding-right: 6px;
			background-image: url(%media_template_folder%dropshadow_176x132.gif);
			background-repeat: no-repeat;
		}
	</style>
		
	<script language="JavaScript">
    var nColumns = 3;
    var nColumnWidth = 100/nColumns;
    var recent_screenshots = [ %recent_screenshots% ];
    var strEnterCaptionHere = "%enter_caption_here_text%";
    var bDisconnected = %is_disconnected%;
    var bLoadComplete = false;
    
    function OnLoadComplete()
    {
      bLoadComplete = true;
    }

    function CanOpenImage()
    {
      return bLoadComplete;
    }

    function getImgId(nIndex)
    {
    return "img_id_" + nIndex;
    }

    function getUploadCheckId(nIndex)
    {
    return "upload_check_id_" + nIndex;
    }

    function getDeleteCheckId(nIndex)
    {
    return "delete_check_id_" + nIndex;
    }

    function getAdultCheckId(nIndex)
    {
    return "adult_check_id_" + nIndex;
    }

    function getTextId(nIndex)
    {
    return "text_id_" + nIndex;
    }

    function getEnterCaptionId(nIndex)
    {
    return "enter_caption_id_" + nIndex;
    }

    function generateScreenshotTable()
    {
    // Fill up our table...
    ///////////////////////
    var nIndex = 0;
    while (nIndex < recent_screenshots.length)
			{
				if (nIndex % nColumns == 0)
				{
					document.write("<tr>");
				}

				var strTD = generateTDElement(nIndex);
				document.write(strTD);
				
				if (nIndex % nColumns == (nColumns-1))
				{
					document.write("</tr>");
					document.write("<tr><td colspan='" + nColumns + "' style='background-color: InactiveBorder; color: InactiveBorder; height: 2px;'></td></tr>");
				}
				
				nIndex++;
			}
		
			// Take care of any empty TD elements we have to add to make up for nColums...
			//////////////////////////////////////////////////////////////////////////////
			while (nIndex % nColumns > 0)
			{
				var strColumn = "<td width='" + nColumnWidth + "%'>&nbsp;</td>";
				document.write(strColumn);
				if (nIndex % nColumns == (nColumns-1))
				{
					document.write("</tr>");
					document.write("<tr><td colspan='" + nColumns + "' style='background-color: InactiveBorder; color: InactiveBorder; height: 2px;'></td></tr>");
					break;
				}
				
				nIndex++;
			}				
		
		}
		
		function generateTDElement(nIndex)
		{
			var strImgURL = recent_screenshots[nIndex].image;
			var strImgId = getImgId(nIndex);
			var strUploadCheckId = getUploadCheckId(nIndex);
			var strDeleteCheckId = getDeleteCheckId(nIndex);
			var strAdultCheckId = getAdultCheckId(nIndex);
			var strTextId = getTextId(nIndex);
			var strEnterCaptionId = getEnterCaptionId(nIndex);
			
			var str = "<td>";
			str += "	<div class='img_element'>";
			str += "		<div class='dropshadow_container'>";
			str += "			<a href='" + strImgURL + "' onclick='return CanOpenImage();'><img id='" + strImgId + "' class='image_normal' src='" + strImgURL + "' width='176' height='132'/></a>";
			str += "		</div>";
			str += "	</div>";
			str += "	<div>";
			if (bDisconnected)
			{
				str += "		<div class='upload_check'><label for='" + strUploadCheckId + "'><input type='checkbox' id='" + strUploadCheckId + "' disabled='disabled'/>&nbsp;%text_upload%</label></div>";
			}
			else
			{
				str += "		<div class='upload_check'><label for='" + strUploadCheckId + "'><input type='checkbox' id='" + strUploadCheckId + "' checked/>&nbsp;%text_upload%</label></div>";
			}
			str += "		<div class='delete_check'><label for='" + strDeleteCheckId + "'><input type='checkbox' id='" + strDeleteCheckId + "' index='" + nIndex + "' onClick='OnDeleteClicked(this);'/>&nbsp;%text_delete%</label></div>";
			str += "	</div>";
			str += "	<div style='clear:both;'></div>";
			str += "	<div>";
			str += "		<textarea id='" + strTextId + "' index='" + nIndex + "' name='" + strTextId + "' rows=5 cols=20 onClick='OnTextAreaClicked(this);'></textarea>";
			str += "		<div id='" + strEnterCaptionId + "' index='" + nIndex + "' class='enter_caption' onClick='OnEnterCaptionClicked(this);'>" + strEnterCaptionHere + "</div>";
			str += "	</div>";
			str += "    <div class='adult_check'><label for='" + strAdultCheckId + "'><input type='checkbox' id='" + strAdultCheckId + "'/>&nbsp;%text_contains_adult_content%</label></div>";
			str += "</td>";
			
			return str;
		}

		function OnDeleteClicked(checkbox_element)
		{
			var strImgId = getImgId(checkbox_element.index);
			var img_element = document.getElementById(strImgId);
			
			var strUploadCheckId = getUploadCheckId(checkbox_element.index);
			var upload_check_element = document.getElementById(strUploadCheckId);

			var strTextId = getTextId(checkbox_element.index);
			var textarea_element = document.getElementById(strTextId);
			
			if (img_element && upload_check_element && textarea_element)
			{
				if (checkbox_element.checked == true)
				{
					img_element.className = "image_opaque";
					upload_check_element.checked = false;
					upload_check_element.disabled = true;
					textarea_element.disabled = true;
				}
				else
				{
					img_element.className = "image_normal";
					// Never enable if we're disconnected.
					if (!bDisconnected)
					{
						upload_check_element.disabled = false;
					}
					textarea_element.disabled = false;
				}
			}
		}
		
		function OnTextAreaClicked(textarea_element)
		{
			//textarea_element.className = "textarea_no_bg_image";
			var strEnterCaptionId = getEnterCaptionId(textarea_element.index);
			var enter_caption_element = document.getElementById(strEnterCaptionId);
			if (enter_caption_element)
			{
				enter_caption_element.style.visibility = "hidden";
			}
		}

		function OnEnterCaptionClicked(caption_element)
		{
			caption_element.style.visibility = "hidden";
			var strTextId = getTextId(caption_element.index);
			var textarea_element = document.getElementById(strTextId);
			if (textarea_element)
			{
				//textarea_element.className = "textarea_no_bg_image";
				textarea_element.focus();
			}
		}

		function IsDeleteChecked(nIndex)
		{
			var strDeleteCheckId = getDeleteCheckId(nIndex);
			var delete_checkbox_element = document.getElementById(strDeleteCheckId);
			if (delete_checkbox_element)
			{
				if (delete_checkbox_element.checked)
				{
					return "true";
				}			
			}
			return "false";
		}
		
		function IsUploadChecked(nIndex)
		{
			var strUploadCheckId = getUploadCheckId(nIndex);
			var upload_checkbox_element = document.getElementById(strUploadCheckId);
			if (upload_checkbox_element)
			{
				if (upload_checkbox_element.checked)
				{
					return "true";
				}			
			}
			return "false";
		}

		function IsAdultChecked(nIndex)
		{
			var strAdultCheckId = getAdultCheckId(nIndex);
			var adult_checkbox_element = document.getElementById(strAdultCheckId);
			if (adult_checkbox_element)
			{
				if (adult_checkbox_element.checked)
				{
					return "true";
				}			
			}
			return "false";
		}

		function GetDescription(nIndex)
		{
			var strTextId = getTextId(nIndex);
			var textarea_element = document.getElementById(strTextId);
			if (textarea_element)
			{
				if (textarea_element.value.length > 1024)
				{
					return textarea_element.value.substr(0, 1024);
				}
				else
				{
					return textarea_element.value;
				}
			}
			return "";	
		}
    
	</script>
</head>
	
<body onload="OnLoadComplete()">
<table id="main_table" width="100%" border=0><tbody>

	<script language="JavaScript">
		// alert("attach here");
		generateScreenshotTable();
	</script>
	
</tbody></table>
</body>
</html>
