<script language="JavaScript">
<!--
	%include scripts\AjaxRequest.js%
	
	var char_A = (new String("A")).charCodeAt(0);
	var char_Z = (new String("Z")).charCodeAt(0);
	var char_a = (new String("a")).charCodeAt(0);
	var char_z = (new String("z")).charCodeAt(0);
	var char_0 = (new String("0")).charCodeAt(0);
	var char_9 = (new String("9")).charCodeAt(0);
	var char_u = (new String("_")).charCodeAt(0);

	var retry_counts = new Array();

	function sanitize(username)
	{
		var sanitized = "";
		for (var i = 0; i < username.length; i++)
		{
			var c = username.charCodeAt(i);
			if ((c >= char_A && c <= char_Z) ||
			    (c >= char_a && c <= char_z) ||
			    (c >= char_0 && c <= char_9) ||
			    c == char_u)
			{
				sanitized += username.substr(i,1);
			}
		}
		return sanitized.toLowerCase();
	}

	function drawPlayerDataTable(team, id)
	{
		var nTeamFrags = 0;

		// do the normal one
		document.write('	  <table id="' + id + '_normal" width="100%" border="0" cellspacing="0" cellpadding="0">');
		document.write('		<tr>');
		document.write('		  <td class="table_col_title" style="text-align:left">' + name_col + '</td>');
		document.write('		  <td class="table_col_title" style="text-align:right">' + ping_col + '</td>');
		document.write('		  <td class="table_col_title" style="text-align:right">' + frags_col + '</td>');
		document.write('		</tr>');

		for (var j = 0; j < team.players.length; j++)
		{
			var sanitized = sanitize(team.players[j].name);
			nTeamFrags += team.players[j].frags;
			
			document.write('		<tr>');
			document.write('		  <td class="table_data" style="text-align:left">' + team.players[j].name + '</td>');
			document.write('		  <td class="table_data" style="text-align:right">' + team.players[j].ping + '</td>');
			document.write('		  <td class="table_data" style="text-align:right">' + team.players[j].frags + '</td>');
			document.write('		</tr>');

			global_player_array.push(team.players[j].name);
		}

		document.write('		<tr>');
		document.write('		  <td class="table_totals" colspan="2" align="right">' + total_frags_text + ':</td>');
		document.write('		  <td class="table_totals_data" align="right">' + nTeamFrags + '</td>');
		document.write('		</tr>');
		document.write('	  </table>');

		// now do the hidden one
		document.write('	  <table id="' + id + '_hidden" style="display:none" width="100%" border="0" cellspacing="0" cellpadding="0">');
		document.write('		<tr>');
		document.write('		  <td colspan="2" class="table_col_title" style="text-align:left">' + name_col + '</td>');
		document.write('		  <td class="table_col_title" style="text-align:right">' + ping_col + '</td>');
		document.write('		  <td class="table_col_title" style="text-align:right">' + frags_col + '</td>');
		document.write('		</tr>');

		for (var j = 0; j < team.players.length; j++)
		{
			var sanitized = sanitize(team.players[j].name);
			
			document.write('		<tr>');
			document.write('		  <td rowspan="2" class="rank_img" style="text-align:center"><img id="' + sanitized + '_img" src="http://media.xfire.com/v4/common/cleardot.gif" width="32" height="32" style="padding:0;margin:0;margin-left:-5px;"></td>');
			document.write('		  <td class="table_data" style="text-align:left">' + team.players[j].name + '</td>');
			document.write('		  <td class="table_data" style="text-align:right">' + team.players[j].ping + '</td>');
			document.write('		  <td class="table_data" style="text-align:right">' + team.players[j].frags + '</td>');
			document.write('		</tr>');
			document.write('		<tr>');
			document.write('		  <td colspan="3" class="rank_desc" id="' + sanitized + '_desc">&nbsp;</td>');
			document.write('		</tr>');
		}

		document.write('		<tr>');
		document.write('		  <td class="table_totals" colspan="3" align="right">' + total_frags_text + ':</td>');
		document.write('		  <td class="table_totals_data" align="right">' + nTeamFrags + '</td>');
		document.write('		</tr>');
		document.write('	  </table>');
	}

	function fillOutRanks (xml)
	{
		var had_ranks = false;
		var players = xml.getElementsByTagName('player');
		if (players.length == 0)
			return;

		for (var p = 0; p < players.length; p++)
		{
			var player = players[p];
			var username = player.getAttribute('id');
			var rank = player.getAttribute('rank');
			var retry = player.getAttribute('retry');
			if (username)
			{
				var sanitized = sanitize(username);
				var img = document.getElementById(sanitized + '_img');
				var desc = document.getElementById(sanitized + '_desc');
				if (img && desc && rank)
				{
					had_ranks = true;
					img.src = "http://media.xfire.com/v4/client/bf2ranks/rank_" + rank + ".gif";
					desc.innerHTML = rank_strings[rank];
				}
				if (retry && retry_counts[username] < 5)
				{
					retry_counts[username]++;
					setTimeout("fetchRanks(['" + username + "']);", retry);
				}
			}
		}

		if (!had_ranks)
			return;

		for (var i = 0; i < team_list.length; i++)
		{
			// if no team name, then they're an observer; not drawing 'em yet
			if (team_list[i].team_name.length == 0)
				continue;
			
			var normal = document.getElementById("team" + i + "_normal");
			var hidden = document.getElementById("team" + i + "_hidden");
			if (normal && hidden)
			{
				normal.style.display = "none";
				hidden.style.display = "";
			}
		}
	}
	var game_icon_file_name		= "%game_iconfilename%";
	var game_has_password		= %game_haspassword%;
	var game_lock_icon_file_name = "%game_lockiconfilename%";
	var game_long_name			= "%js:game_longname%";
	var voice_has_ip			= %voice_hasip%;
	var text_voice_chat			= "%js:text_voicechat%";
	var voice_server_ip			= "%js:voice_serverip%";
	var game_has_ip				= %game_hasip%;
	var server_flag_url			= "%js:server_flag_url%";
	var country_code			= "%js:country_code%";
	var country_code_url		= "%js:country_code_url%";
	var text_server_ip			= "%js:text_serverip%";
	var game_server_ip			= "%js:game_serverip%";
	var game_has_query_status	= %game_hasquerystatus%;
	var text_server_query_status = "%js:text_serverquerystatus%";
	var game_server_query_status = "%js:game_serverquerystatus%";
	var game_has_server_name	= %game_hasservername%;
	var text_server_name		= "%js:text_servername%";
	var game_server_name		= "%js:game_servername%";
	var game_has_server_ping	= %game_hasserverping%;
	var text_server_ping		= "%js:text_serverping%";
	var game_server_ping		= "%js:game_serverping%";
	var game_has_server_info	= %game_hasserverinfo%;
	var text_server_info		= "%js:text_serverinfo%";
	var game_server_info		= "%js:game_serverinfo%";
	var game_has_server_game_type = %game_hasservergametype%;
	var text_server_game_type	= "%js:text_servergametype%";
	var game_server_game_type	= "%js:game_servergametype%";
	var text_player_list		= "%js:text_playerlist%"; 
	var team_list = [ %team_data_struct% ];
	var raw_serverinfo = { %raw_serverinfo% };
	var is_user_ingame			= %user_ingame%;
	var display_user			= "%js:display_user%";
	var user_has_profile		= %user_hasprofile%;
	var profile_url				= "%js:profile_url%";
	var username				= "%js:username%";
	var text_profile			= "%js:text_profile%";
	var user_has_nickname		= %user_hasnickname%;
	var text_user_name			= "%js:text_username%";
	var name_col				= "%js:text_name%";
	var ping_col				= "%js:text_ping%";
	var frags_col				= "%js:text_score%";
	var total_frags_text			= "%js:text_totalscore%";
	var language = "%js:language%";
	var friendlyfire_text = { en:"Friendly Fire" };
	var autobalance_text = { en:"Autobalance" };
	var mec_text = { en:"Middle Eastern Coalition" };
	var ch_text = { en:"People's Liberation Army" };
	var us_text = { en:"United States Marine Corps" };
	var ranked_text = { en:"Ranked" };
	var punkbuster_text = { en:"PunkBuster enabled" };
	var voice_text = { en:"Voice enabled" };
	var has_custom_status		= %has_custom_status%;
	var custom_status			= "%js:custom_status%";
	var custom_status_text		= "%js:text_status%";		
	var has_game_stats_hash = %has_game_stats_hash%;	
	var game_stats_hash = { %game_stats_hash% };

	var rank_strings = [ "Private", "Private First Class", "Lance Corporal", "Corporal", "Sergeant", "Staff Sergeant", "Gunnery Sergeant", "Master Sergeant", "First Sergeant", "Master Gunnery Sergeant", "Sergeant Major", "Sergeant Major of the Corps", "2nd Lieutenant", "1st Lieutenant", "Captain", "Major", "Lieutenant Colonel", "Colonel", "Brigadier General", "Major General", "Lieutenant General", "General" ];

	function gettranslation(lang_array)
	{
		if (lang_array[language])
			return lang_array[language];
		return lang_array["en"];
	}

	function getprettyteamname(team_code)
	{
		if (team_code == "MEC")
			return gettranslation(mec_text);
		if (team_code == "CH")
			return gettranslation(ch_text);
		if (team_code == "US")
			return gettranslation(us_text);

		return team_code;
	}

	function getflagimage(team_code)
	{
		if (team_code == "MEC")
			return "<img src=\"%media_template_folder%infoview/bf2/flag_mec.gif\">&nbsp;";
		if (team_code == "CH")
			return "<img src=\"%media_template_folder%infoview/bf2/flag_ch.gif\">&nbsp;";
		if (team_code == "US")
			return "<img src=\"%media_template_folder%infoview/bf2/flag_us.gif\">&nbsp;";

		return '';
	}

	if (is_user_ingame == true)
	{
		document.write("<span class='user_title'>" + display_user + 
						"</span> <span class='user_profile_link'><a href='" + profile_url + username + "' target='_blank'>" + text_profile + 
						"</a></span><br><br>");
		
		if (user_has_nickname == true)
		{
			document.write("<span class='field_name'>" + text_user_name + ": </span>");
			document.write("<span class='user_data'>" + username + "<br></span>");
		}

		if (has_custom_status == true)
		{
			document.write("<span class='field_name'>" + custom_status_text + ": </span>");
			document.write("<span class='user_data'>" + linkify(custom_status) + "<br></span>");
		}
		
		if (voice_has_ip == true)
		{
			document.write("<span class='field_name'>" + text_voice_chat + ": </span>");
			document.write("<span class='user_data'>" + voice_server_ip + "<br></span>");
		}
	
	}
				
	if (game_has_ip == true)
	{
		document.write("<span class='field_name'>" + text_server_ip + ": </span>");
		if (server_flag_url.length > 0)
		{
			document.write("<span class='server_data'> <a href='" + country_code_url + "' target='_blank'><img src='" + server_flag_url + "' title='" + country_code + "' alt='' width='25' height='15' align='texttop' border='0'></a> " + game_server_ip);
		}
		else
		{
			document.write("<span class='server_data'>" + game_server_ip);
		}
		
		if (game_has_password == true)
		{
			document.write("        <img src='" + game_lock_icon_file_name + "' title='' alt='gameicon' width='32' height='32' border='0'>");
		}
		document.write("<br></span>");
	}


	if (game_has_query_status == true)
	{
		document.write("<span class='field_name'>" + text_server_query_status + ": </span>");
		document.write("<span class='server_data'>" + game_server_query_status + "<br></span>");
	}

	if (game_has_server_name == true)
	{
		document.write("<span class='field_name'>" + text_server_name + ": </span>");
		document.write("<span class='server_data'>");
		if (raw_serverinfo.website)
		{
			document.write('<a href="');
			if (raw_serverinfo.website.indexOf('http://') < 0)
			{
				document.write('http://');
			}
			document.write(raw_serverinfo.website + '" target="_blank">');
		}
		document.write(game_server_name);
		if (raw_serverinfo.website)
		{
			document.write("</a>");
		}
		document.write("<br></span>");
	}

	if (game_has_server_ping == true)
	{
		document.write("<span class='field_name'>" + text_server_ping + ": </span>");
		document.write("<span class='server_data'>" + game_server_ping + "<br></span>");
	}

	if (game_has_server_info == true)
	{
		document.write("<span class='field_name'>" + text_server_info + ": </span>");
		document.write("<span class='server_data'>" + game_server_info + "<br></span>");
	}

	if (game_has_server_game_type == true)
	{
		document.write("<span class='field_name'>" + text_server_game_type + ": </span>");
		document.write("<span class='server_data'>" + game_server_game_type + "<br></span>");
	}
	if (raw_serverinfo.bf2_friendlyfire)
	{
		document.write("<span class='field_name'>" + gettranslation(friendlyfire_text) + ": </span>");
		document.write("<span class='server_data'>" + raw_serverinfo.bf2_friendlyfire + "<br></span>");
	}
	if (raw_serverinfo.bf2_autobalanced)
	{
		document.write("<span class='field_name'>" + gettranslation(autobalance_text) + ": </span>");
		document.write("<span class='server_data'>" + raw_serverinfo.bf2_autobalanced + "<br></span>");
	}

	if (raw_serverinfo.bf2_ranked == "1")
	{
		document.write("<img src=\"%media_template_folder%infoview/bf2/bars.gif\" alt=\"" + gettranslation(ranked_text) + "\">&nbsp;");
	}
	if (raw_serverinfo.bf2_anticheat == "1")
	{
		document.write("<img src=\"%media_template_folder%infoview/images/punkbuster.gif\" alt=\"" + gettranslation(punkbuster_text) + "\">&nbsp;");
	}
	if (raw_serverinfo.bf2_voip == "1")
	{
		document.write("<img src=\"%media_template_folder%infoview/images/headphones.gif\" alt=\"" + gettranslation(voice_text) + "\">&nbsp;");
	}
	document.write("<br>\n");
	
	if (has_game_stats_hash)
	{
		for (var game_stats_key in game_stats_hash)
		{
			document.write("<span class='field_name'>" + game_stats_key + ": </span>");
			document.write("<span class='server_data'>" + game_stats_hash[game_stats_key] + "<br></span>");
		}
	}
	
	if (team_list.length > 0)
	{
		var global_player_array = new Array();
		for (var i = 0; i < team_list.length; i++)
		{
			// if no team name, then they're an observer; not drawing 'em yet
			if (team_list[i].team_name.length == 0)
				continue;

			/* ALL OF THIS JUST TO MAKE A PRETTY LOOKING TABLE WITH BORDERS AND SHADING.  GOOD LUCK!!! */
			document.write('<table id="player_table" width="240px" border="0" cellspacing="0" cellpadding="0">');
			document.write('  <tr>');
			document.write('	<td class="playertable_header_topleft"></td>');
			document.write('	<td class="playertable_header_horzedge" colspan="3"></td>');
			document.write('	<td class="playertable_header_topright"></td>');
			document.write('  </tr>');
			document.write('  <tr>');
			document.write('	<td class="playertable_header_vertedge"></td>');
			document.write('	<td class="playertable_header_vertfiller"></td>');

			if (team_list.length == 1)
			{
				document.write('	<td class="table_header">' + text_player_list + '</td>');
			}
			else
			{
				document.write('	<td class="table_header">' + getflagimage(team_list[i].team_name) + getprettyteamname(team_list[i].team_name) + '</td>');
			}
				
			document.write('	<td class="playertable_header_vertfiller"></td>');
			document.write('	<td class="playertable_header_vertedge"></td>');
			document.write('  </tr>');
			document.write('  <tr>');
			document.write('	<td class="playertable_header_vertedge_5tall" rowspan="2"></td>');
			document.write('	<td class="playertable_header_horzfiller" colspan="3"></td>');
			document.write('	<td class="playertable_header_vertedge_5tall" rowspan="2"></td>');
			document.write('  </tr>');
			document.write('  <tr>');
			document.write('	<td class="playertable_header_horzedge" colspan="3"></td>'); /* END OF SHADED HEADING SECTION OF TABLE... */
			document.write('  </tr>');
			document.write('  <tr>');
			document.write('	<td class="playertable_header_vertedge"></td>');
			document.write('	<td width="4px"></td>');
			document.write('	<td>');

			drawPlayerDataTable(team_list[i], "team"+i);

			document.write('	</td>');
			document.write('	<td width="4px"></td>');
			document.write('	<td class="playertable_header_vertedge"></td>');
			document.write('  </tr>');
			document.write('  <tr>');
			document.write('	<td class="playertable_header_vertedge_5tall" rowspan="2"></td>');
			document.write('	<td height="4px" colspan="3"></td>');
			document.write('	<td class="playertable_header_vertedge_5tall" rowspan="2"></td>');
			document.write('  </tr>');
			document.write('  <tr>');
			document.write('	<td class="playertable_header_horzedge" colspan="3"></td>');
			document.write('  </tr>');
			document.write('</table>');
			document.write("<br>");
		}
		document.write("<div style='width:240px'><div class='rank_button' onmouseover='this.className=\"rank_button_highlight\";' onmouseout='this.className=\"rank_button\";' onclick='fetchRanks(global_player_array);'>Display Ranks</div></div>");
		function fetchRanks(player_array)
		{
			var queryStr = "";
			for (var p = 0; p < player_array.length; p++)
			{
				retry_counts[player_array[p]] = 0;
				if (queryStr.length)
				{
					queryStr += "&player[]=" + escape(player_array[p]);
				}
				else
				{
					queryStr += "player[]=" + escape(player_array[p]);
				}
			}
			AjaxRequest.post(
				{
					'url':'%scripting_host%/v4/client/games_stats/bf2.php',
					'queryString':queryStr,
					'timeout':10000,
					'onSuccess':
						function (req)
						{
							var error = req.responseXML.getElementsByTagName('error');
							if (error.length > 0)
							{
								alert(error[0].firstChild.nodeValue);
							}
							else
							{
								fillOutRanks(req.responseXML);
							}
						},
					'onError':
						function (req)
						{
							alert("There was an error connecting to the server, please try again in a few minutes.");
						},
					'onTimeout':
						function (req)
						{
							alert("The server took too long to respond, please try again in a few minutes.");
						}
				}
			);
		}
	}
					
//-->
</script>

